[2019-07-16 09:44] azureus89 opened #1 "Boilerplate Clojure Ring based server"

[2019-07-16 09:45] azureus89 opened #2 "PostgreSQL adapter"

[2019-07-16 09:45] azureus89 opened #3 "CouchDB Adapter"

[2019-07-16 09:46] azureus89 opened #4 "Clojure websocket server + CLJS client"

[2019-07-16 09:46] azureus89 opened #5 "Form based write/edit interface"

[2019-07-16 09:47] azureus89 opened #6 "Table based view entries and user dashboard boilerplate"

[2019-07-16 09:47] azureus89 opened #7 "Authentication / Authroisation framework"

[2019-07-17 15:05] VikramShawFL commented on #3
Issue is with adding a data to database function i.e. ``doc-db``. I'm trying to executing this ```  (println (:out (sh "curl" "-H" "Content-Type: application/json" "-X" "POST" "http://127.0.0.1:5984/ram" "-d" '{"Company: " "Example, Inc"}')))```
Error:-```Syntax error reading source at (REPL:36:143).
Unmatched delimiter: )```
When I'm executing the same syntax in terminal, there it is working fine

[2019-07-17 15:10] azureus89 commented on #3
says unmatched delimiter, looks like error is with syntax somewhere in the program, im going through your gbranch right now

[2019-07-17 15:18] azureus89 commented on #3
Think its an issue with using single quotes ... have you tried alternative ways ... instead of the putting the body in single quotes, use double quotes outside and single quotes inside ... or use let to pre-store that as a string and then call the string inside the shell command?

[2019-07-17 15:21] azureus89 commented on #3
Because its a compile time error, not a run time error. Clojure isnt able to eval the function itself, its not running it and giving the error. Try this:
`(defn doc-db []
  (println (:out (sh "curl" "-H" "Content-Type: application/json" "-X" "POST" "http://127.0.0.1:5984/ram" "-d" "{'Company: ' 'Example, Inc'}"))))`

[2019-07-18 04:02] VikramShawFL commented on #3
So I tried above code, it is giving me an error ``{"error":"bad_request","reason":"invalid_json"}``
Then I tried using let ```
(defn doc-db []
  (let [name "Super Co."]
  (println (:out (sh "curl" "-H" "Content-Type: application/json" "-X" "POST" "http://127.0.0.1:5984/ram" "-d" "name")))))```

I have used name variable without double quote also, but giving me the same error ``{"error":"bad_reques

[2019-07-18 08:17] azureus89 commented on #3
we both made a syntax error didnt notice. modified  code:
`(defn doc-db []
  (println (:out (sh "curl" "-H" "Content-Type: application/json" "-X" "POST" "http://127.0.0.1:5984/ram" "-d" "{'Company': 'Example, Inc'}"))))`

The separator for the json key value, we had put it inside the quotes in the clojure function. Stupid typo.

[2019-07-18 08:18] azureus89 commented on #3
the json inside sh is a standard json string ... not a clojure data structure, so it needs separators, {key1 : value1, key2: value2}

[2019-07-18 08:30] VikramShawFL commented on #3
Yeah, that's what it is key1 is the Company and it's value is Example, Inc. I tried this yesterday only ``"{'Company': 'Example, Inc'}"`` It was giving me an error ``{"error":"bad_request","reason":"invalid_json"}``

[2019-07-18 09:05] azureus89 commented on #3
please try and show me

[2019-07-18 09:15] VikramShawFL commented on #3
So I tried this
```(defn doc-db [] (println (:out (sh "curl" "-H" "Content-Type: application/json" "-X" "POST" "http://127.0.0.1:5984/ram" "-d" "{'Company': 'Example, Inc'}"))))```
And the error is ``{"error":"bad_request","reason":"invalid_json"}``

[2019-07-18 09:18] azureus89 commented on #3
Ditch this, come back to it later, wasting time ... use http directly instead of using curl ... look for clojure http libraries

[2019-07-19 09:59] azureus89 commented on #3
shouldnt be hard ... whats happening

[2019-07-19 10:24] VikramShawFL commented on #3
I got this library for CouchDB ``https://github.com/clojure-clutch/clutch`` So I have added the dependency ``[com.ashafa/clutch "0.4.0"]`` and then I have added ``(require '[com.ashafa.clutch :as couch])`` in the namespace but when I'm running the given example in repl it is showing error. I guess I'm not able to connect with my project.

[2019-07-19 10:38] azureus89 commented on #3
please report errors/handle faster .. whats the error

[2019-07-19 10:42] VikramShawFL commented on #3
The error is with the namespace. When I'm executing this `` [environ.core :refer [env]]`` getting this error
[code]

[2019-07-19 10:55] azureus89 commented on #3
push code, many references here i cant see ... what is environ.core?

[2019-07-19 11:29] azureus89 commented on #3
havent included environ in dependencies

and this line from profile clj is copy paste  :profiles/dev  {:env {:database-url "wiki"}})
you need to change to the name of your db locally once environ is in your project

[2019-07-19 11:30] azureus89 commented on #3
error is very clear
Could not locate environ/core__init.class, environ/core.clj or environ/core.cljc on classpath.```

ie. dependency issue
how long have you been stuck on this?

[2019-07-19 11:37] VikramShawFL commented on #3
I have created a database locally from Futon of name dev.
About an hour I guess after that I was trying a different method from ``https://www.ibm.com/developerworks/java/library/j-couchdb-clojure/j-couchdb-clojure-pdf.pdf``
The libraries version are bit old but in this also I was having problem with the json namespace from List 2 ``(require ['clojure.contrib.json :as 'json])``.

[2019-07-19 11:41] azureus89 commented on #3
Do adapter first ... add environ etc and connect to the database ... if json is an issue, raise as separate issue ... and once you have demonstrated connection to couchdb ... read/write, this issue is closed ... json can be tackled after merging this to master in a separate issue

[2019-07-19 12:34] VikramShawFL commented on #3
What does this ``:profiles/dev {:env {:database-url "wiki"}}`` means? Do I need to create profile.clj file
![Screen Shot 2019-07-19 at 6 02 22 PM](https://user-images.githubusercontent.com/46559614/61535288-890d4f80-aa4f-11e9-8f73-1b07a1223379.png)

[2019-07-19 14:39] azureus89 commented on #3
see the documentation for environ ... its from there ... its used to set environment variables, so that you dont have to keep calling them ... or refer to them in your code.

Good practice in clojure is to not directly refer to strings / numbers etc in the function itself ... keep the fuinctions functional ... and keep the data in data structures

so instead of (`get-document "customers" "vikram")

[2019-07-19 14:40] azureus89 commented on #3
Also ... you already have a profiles.clj ... why are you asking if you need to create it?? confused.

[2019-07-20 15:06] ParikshithMohan commented on #5
@azureus89 Does this involve HTML forms as the interface?

[2019-07-20 15:15] azureus89 commented on #5
Yes I need a mobile first nice interface for creating and editing database entries using forms.
Make the styles for classes and types of components easily readable, because I want this to be reused again and again.
Get a decent interface going first, give me components.
Demonstrate all form components working with hiccup.
Then we will close this issue and move onto 6.
We will create a new issue to

[2019-07-21 04:07] ParikshithMohan commented on #5
@azureus89  Figwheel main not working while starting repl. It says Error in process filtering.figwheel-main is not available. Is it some other component?

[2019-07-21 04:43] ParikshithMohan commented on #5
@azureus89 Also I cloned from the master. How are the html and css files created in the resource folder in html-synth project?

[2019-07-21 10:31] azureus89 commented on #5
oh yeah I forgot ... sorry ... this is a clojure project ... do it in clojure only.
Look up how to use hiccup directly in clojure.
Nothing is different ... css files go in resources folder, if its not there you have to create it.
Only difference is you have to create a route for the page where you are going to demo the form
localhost:xxx/forms
For this you use compojure ... defroutes app is the fu

[2019-07-21 10:33] azureus89 opened #8 "plug websockets into discordui page and make chat work"

[2019-07-21 10:43] azureus89 commented on #3
Need this for something, am working on this ... move to next issue

[2019-07-22 03:28] VikramShawFL commented on #4
Can you please elaborate a bit about this issue.

[2019-07-22 07:39] azureus89 commented on #4
Just like ring boilerplate .. I need a boilerplate websocket server .. and a simple html client interface to recieve and send messages ..

[2019-07-22 08:05] ParikshithMohan commented on #5
@azureus89 Do you want a sample of all the forms? What data do you want in them?

[2019-07-22 08:06] azureus89 commented on #5
All form elements first .. then we will see what else .. check bootstrap or any other css library for what that means

[2019-07-22 10:27] azureus89 opened #9 "Migrate from Auth0 to xtnt-auth"

[2019-07-22 10:28] azureus89 commented on #7
Working on this now ... am using Auth0 as an authentication provider, we will migrate to xtnt-auth later, created a separate issue for that

[2019-07-22 10:29] #2 closed, assigned to nobody

[2019-07-22 10:30] azureus89 commented on #1
This is done

[2019-07-22 10:30] #1 closed, assigned to nobody

[2019-07-22 10:57] azureus89 commented on #3
I'm creating a bunch of helper libraries, they will be outside this library. This issue will be closed once i've integrated and tested them.

[2019-07-24 05:16] azureus89 commented on #5
Whats taking so long for moving into a different namespace etc?

[2019-07-24 05:31] ParikshithMohan commented on #5
yeah sorry done.

[2019-07-24 05:39] azureus89 commented on #5
CSS?

[2019-07-24 05:42] ParikshithMohan commented on #5
how do u want it?

[2019-07-24 05:46] azureus89 commented on #5
???????

[2019-07-24 10:01] azureus89 commented on #5
Css has some flaws and can be more efficient ... we can address this later tonight if you're up ... You need to cover more comprehensively ... see bootstrap for reference:
https://getbootstrap.com/docs/4.0/components/forms/
Dont do everything, just pick the next set of things that you think are important from what they have covered. Your set is very basic.
More comprehensive set + efficient CSS +

[2019-07-24 10:03] ParikshithMohan commented on #5
Comprehensive?

[2019-07-24 10:07] ParikshithMohan commented on #5
You mean implement all the elements from that bootstrap link u sent?

[2019-07-24 10:11] azureus89 commented on #5
Read please:

**> Dont do everything, just pick the next set of things that you think are important from what they have covered. Your set is very basic.**

[2019-07-24 10:12] ParikshithMohan commented on #5
yeah got it...

[2019-07-24 17:57] VikramShawFL commented on #4
I haven't worked on websocket yet, so can you please tell me which library to use because there are many libraries which I'm not able to understand. So please suggest me a library to use with a better documentation. And refer me some links for clojurescript also.

[2019-07-24 18:17] ParikshithMohan commented on #5
Don't know what to do with skeleton. Confused with what to do now. Tell me exactly what to do and the end result you're expecting, so I can finish the issue as soon as possible. Is it ok to use any technique i want to finish the task?

[2019-07-24 19:38] azureus89 commented on #4
Use http-kit
guide/example : https://yogthos.net/posts/2015-06-11-Websockets.html

Because this is slightly old, you may have dependency issues, make sure you use latest versions of the libraries in your project.clj.

For cljs help, ask anyone else on the team, if you have issues running it etc

[2019-07-24 19:40] azureus89 commented on #5
The skeleton site has a download link which will give you the skeleton css files. You need to put that in resources, and refer to it in your html.

Use hiccup in clojure and show me all the skeleton elements you on that site working, they have shown you the code right under the elements, it should be very simple.

[2019-07-24 19:43] azureus89 commented on #5
I'm expecting to see a page that shows me a simple demo of all the form styles at the very least.
This would include forms in a grid, multiple coloumns etc. All shown on the skeleton site.

Right now I just want to see this - responsive css styles. That should close this issue.
like I said : More comprehensive set + efficient CSS + responsive = close of issue

[2019-07-25 10:15] VikramShawFL commented on #4
So I followed the steps mentioned in the above link. Getting error ``Exception in thread "main" Syntax error compiling at (multi_client_ws/handler.clj:38:7).`` Created a new repository because it adds many file while running ``lein new luminus multi-client-ws +http-kit +cljs`` This is the link of the repository https://github.com/VikramShawFL/websockets
Not able to understand what I need to add to

[2019-07-25 10:16] azureus89 commented on #4
too complex, let me find a simpler websocket implementation

[2019-07-25 10:21] azureus89 commented on #4
Try this https://samrat.me/posts/2013-07-04-clojure-websockets-with-http-kit/
Again old, so you may have to update the versions of the libraries.

[2019-07-25 12:03] azureus89 commented on #5
Okay this works ... let me check for any conflicts, and i will merge into master. Once its done, ill assign next issue to you on the dev support channel.

[2019-07-25 12:03] azureus89 commented on #5
Submit pull request please

[2019-07-26 06:14] ParikshithMohan commented on #6
So the table based view can be done from skeleton CSS. I don't know what user dashboard boilerplate is. What do I do in that?

[2019-07-26 10:19] azureus89 commented on #6
Dashboard references : https://wrapbootstrap.com/search?q=dashboard

ignore the chart elements. The rest. Pick a simple one ... header, menu, blocks displaying things in different colours etc. But the table you've done into the dashboard

[2019-07-26 10:35] VikramShawFL commented on #4
Getting this error ``Caused by: clojure.lang.ExceptionInfo: /Users/vikramshaw/xtnt-micro/src/cljs/xtnt_micro/core.cljs [line 21, col 92] The map literal starting with :type on line 6 column 12 contains 7 form(s). Map literals must contain an even number of forms.`` Not sure  what is wrong in cljs.core file.
The random numbers are getting generated. Haven't used ``refreshChart()`` function from the

[2019-07-26 10:40] ParikshithMohan commented on #6
You mean *put right?

[2019-07-26 12:26] azureus89 commented on #4
Not interested in that. Who is not doing their job?
Is the documentation for this library bad, or for clojurescript, or has baishakhi/kavya/parikshith not done a good job giving you a clojurescript guide to work with?
Who is not doing their job?

[2019-07-26 12:53] VikramShawFL commented on #4
Documentation is okay, it's just that he has used chartkick.js which contains 546 lines of JavaScript code, so in order to complete it fast I left that part.
Apart from that I was having problem with adding cljs part to my project which I guess no body knew that which I figured out by myself. Parikshith did sent me a link about cljs and Baishakhi didn't remember how we used cljs for normal project

[2019-07-26 13:05] azureus89 commented on #4
Issue is not with chartkick. Issue is fundamentally with your use of cljs. CLJS documentation is not great, the team has not done a good job of letting you know how a cljs project works.
Ask them to create/improve the introduction to cljs documentation urgently.

[2019-07-26 13:40] VikramShawFL opened #11 "CLJS introduction documentation."

[2019-07-26 13:42] azureus89 opened #12 "Add clojurescript, figwheel, reagent / reframe to existing clojure project"
lein new figwheel etc works only for new projects, someone needs to replicate the dependencies and configurations from a running fighweel project into this project.

In the future, we will use this project as our starting point for anything because it will contain both front end and back end servers.

[2019-07-26 15:34] ParikshithMohan commented on #12
is html-synth ok?

[2019-07-26 16:10] azureus89 commented on #12
html-synth was a cljs project started with lein. That method does not work when a clojure project has to start adding clojurescript elements. Which is what is causing vikram issues here. Till now we have either had clojure projects or clojurescript projects.

Need you to make the same figwheel / reframe etc work in this project by adding dependencies / config etc … which you can copy from html-syn

[2019-07-27 14:22] sahabaishakhi commented on #12
I added the aliases and dependences for clojurescript and figwheel-main inside project.clj.. as well as the configuration files from the synth project i.e dev.cljs.edn, figwheel-main.edn and test.cljs.edn and a core.cljs to be able to compile it.. but I am obtaining an error from within dev.cljs.edn

error -
[code]
@azureus89 I need your help with this. I also see that inside figwheel-main.edn is

[2019-07-29 10:22] sahabaishakhi commented on #11
@VikramShawFL what information about cljs would you need from this that helps you? should I give directions for future figwheel implementation or about other plug-ins like cljs-build that we discussed earlier?

[2019-07-29 10:23] azureus89 commented on #12
Thank you for including the error data in detail ... but the output im interested in on top of that which will help me manage the project better is who is to blame ... what needs fixing.
Is there a documentation gap? What is stopping you from finishing this fast.

If you are doing something which you have no experience with, and there is a documentation gap in the project / ecosystem, thats when i

[2019-07-29 10:33] VikramShawFL commented on #11
Figwheel implementation and all is issue number #12. Basically in this what I need is the implementation of clojurescript in clojure project like using of cljsbuild plugin and few codes how to write clojurescript codes.

[2019-07-29 10:37] azureus89 commented on #11
@VikramShawFL need to include figwheel and build instructions here, its part of introduction. She is asking about documentation. #12 is for implementation / porting of cljs libraries into existing xtnt-micro framework. Yes, if you want you can see the documentation for figwheel etc as part of that, thats also true, so ill leave it to you. Without fixing #12 you cant do any clojurescript, unless yo

[2019-07-29 10:48] VikramShawFL commented on #11
No that is not the case. I thought that by the time figwheel implementation documentation will be ready I can use cljsbuild plugin and close the issue. Nevermind, make the documentation for both figwheel and cljsbuild plugin and also how to convert javascript code to clojurescript

[2019-07-29 10:52] azureus89 commented on #11
@sahabaishakhi basically focus on the main clojurescript documentation here first, on priority... so that vikram can get moving with the clojurescript work. On the project that he is working on his solution doesnt need figwheel in order to close the issue, so you can focus on that next. Is that correct vikram?

[2019-07-29 10:56] VikramShawFL commented on #11
Yes

[2019-07-30 07:07] sahabaishakhi commented on #11
@VikramShawFL I created a standard project.clj file which contains the appropriate key attributes to use the cljs-build plugin.. the other option apart from figwheel is the use of shadow-clj plugin but I did not use that because it needed me to install npm. let me know what else I can include in the documentation..

[2019-07-30 07:09] ParikshithMohan commented on #6
When I put the laptop on sleep...the css file gets frozen...the style is fixed and cannot be changed even after restarting the repl and the shell. The new css file is also acting like the dashboard.css file.

[2019-07-30 07:19] ParikshithMohan commented on #6
Ever since i tried merging cljs and clj...im facing all these problems...Dont know where exactly the problem is...

[2019-07-30 07:58] VikramShawFL commented on #11
@sahabaishakhi Are you sure that is working because you haven't added the clojurescript dependency and in order to run clojurescript file just we need to add all this in our ``project.clj`` right. For the first time user do we need to add anything in ``Dot Spacemacs File`` or installing anything.
Add the ClojureScript documentation also.

[2019-07-30 08:42] sahabaishakhi commented on #11
@VikramShawFL I did not compile anything yet. I believe this issue was only about documentation and the basics of the plug in that is to help you. Do you want me to compile and show you an output? the documentation would be easier if I show the appropriate code, so I added them in project.clj file. I had searched yesterday for clojurescript dependencies inside dot spacemacs file but we hadn't adde

[2019-07-30 09:30] ParikshithMohan commented on #6
i found a hack...so if i make the changes, close and reopen my laptop...the changes are being reflected.

[2019-07-30 09:42] azureus89 commented on #6
Shouldnt have done cljs / clj merging on this branch ... it is a separate issue for a reason no ...

[2019-07-30 09:47] #5 closed, assigned to nobody

[2019-07-30 09:52] azureus89 commented on #11
@VikramShawFL can you please state very clearly what you need @sahabaishakhi to help you with right now.

@sahabaishakhi please avoid confusing people with things like shadow-clj plugin etc ... your job is to simplify, not explain nuances at the moment. Please make sure you understand from vikram EXACTLY what he needs you to document on the project.

[2019-07-30 09:53] azureus89 commented on #4
@VikramShawFL do you actually need any clojurescript to close this issue right now? I don't think so from the link i sent you. There is no clojurescript there, why are you trying to make life harder for yourself?

[2019-07-30 09:55] azureus89 commented on #4
which branch are you on .. can you push your latest code please

[2019-07-30 09:58] VikramShawFL commented on #4
The link which you sent me have used Javascript, to get random numbers and show the numbers through chart. I'm able to get the random numbers. But as per the issue it says CLJS client.

[2019-07-30 10:06] azureus89 commented on #4
Then ask me to change the issue if it is causing so many problems. I've made it your responsibility to get your tasks done fast. Being lazy is a value. You have to negotiate with me to make issues as simple as possible so you can close it fast. I might ask you to push the bar up.

I will only give you what you ask me ... if you tell me examples are bad, ill give you better examples, documentation

[2019-07-30 10:07] azureus89 commented on #6
What is going wrong here ... why are you unable to close this issue?

[2019-07-30 10:08] azureus89 commented on #11
@sahabaishakhi @VikramShawFL what is going wrong here, why is this issue not moving towards closing?

[2019-07-30 10:13] VikramShawFL commented on #11
@sahabaishakhi had explained the cljsbuild plugin we are good to close this issue. Right now she is making documentation for Figwheel.

[2019-07-30 10:40] VikramShawFL commented on #4
Ok then can we have a CLJS integration separate issue.

[2019-07-30 10:48] azureus89 commented on #4
Okay ... do the client in HTML and close this issue with a running websocket server.

This has to integrate with current master, so make sure you are synced with master before you submit pull request.

[2019-07-30 10:48] azureus89 opened #13 "Migrate HTML websocket client boilerplate to CLJS"

[2019-07-30 10:53] VikramShawFL commented on #4
Ok what do you want me to show in client side because right now I'm getting only this output
![image](https://user-images.githubusercontent.com/46559614/62123783-4ddc0d80-b2e6-11e9-92d9-9fc5d674d1a8.png)

[2019-07-30 18:58] azureus89 commented on #4
Check console for errors and check the reference article for what you are supposed to get. If all good, submit pull request.

[2019-07-31 04:42] VikramShawFL commented on #4
I have checked the link thoroughly. He has explained 3 parts 1)Project setup 2)Websocket server 3)Front end and all the 3 parts I already did. The output which I'm getting is the correct one because it is coded to generate the random numbers only.
Now when I accessing this using ``http://localhost:8080/happiness`` I'm getting the output like the above one(image) and when I'm using an chrome extens

[2019-07-31 10:36] azureus89 commented on #4
okay merging and closing issue

[2019-07-31 10:37] azureus89 commented on #4
submit pull request please

[2019-07-31 10:42] azureus89 commented on #11
@VikramShawFL how are we good to close this issue ... I dont see any clojurescript documentation.
I would like you to list out here what all you need from a documentation point of view, in points.
@sahabaishakhi issue gets closed when these are done. I may add some requirements from my side as well, in case vikram is missing anything.

[2019-07-31 10:42] VikramShawFL commented on #4
Don't merge it as I've created a new web socket with proper client side messaging boilerplate. It just I'm getting a error which I'm resolving now
![image](https://user-images.githubusercontent.com/46559614/62205855-04ef8c00-b3ae-11e9-88e8-62f70b2f5ad7.png)

[2019-07-31 10:45] azureus89 commented on #4
I wont merge until you send me a pull request and i review conflicts anyway :)

[2019-07-31 10:46] VikramShawFL commented on #4
Okay.

[2019-07-31 10:46] azureus89 commented on #4
you may want to keep chat for another issue ... a chat boilerplate issue ... create that issue and push this code for that instead. This is just a websocket server and front end simple. Would prefer to merge with only that.

[2019-07-31 22:04] azureus89 opened #16 "Documentation for clj/cljs implementation for websockets"

[2019-07-31 22:04] azureus89 commented on #13
@VikramShawFL im closing this also because you've technically finished this in vk-4

[2019-07-31 22:04] #13 closed, assigned to nobody

[2019-07-31 22:06] azureus89 commented on #12
@VikramShawFL @sahabaishakhi you need to confirm if both clj and cljs repls are working on this project in order for this issue to be closed.

[2019-07-31 22:07] azureus89 commented on #12
Both repls have to work

[2019-08-01 10:02] azureus89 opened #17 "UI for posts / newsfeed page"

[2019-08-01 10:04] azureus89 opened #18 "UI for chat page"

[2019-08-01 10:13] #4 closed, assigned to nobody

[2019-08-01 10:17] kattakavya commented on #18
@azureus89 how should chat page look like? what all it should contain?Can you please elaborate it.

[2019-08-01 10:18] azureus89 commented on #6
whats going wrong ...

[2019-08-01 10:19] azureus89 commented on #6
cool story ... but if this is an issue with the repl / emacs / project config ... this needs to be an issue in itself also

[2019-08-01 10:41] azureus89 commented on #18
Use discord as a reference

[2019-08-01 10:42] azureus89 commented on #12
as part of this issue please @VikramShawFL move the websocket pngs into the snapshot folder and name it with your branch

[2019-08-01 12:22] ParikshithMohan commented on #6
This issue is a nightmare because i dont know where the source of the problem is. Back when i was doing it , i deleted all the css files to check if the designs i made would go away... nothing changed  when i did that. So i had to create all the block elements in between the navbar and sidebar that i had created earlier...the navbar and sidebar design was unchangable...

[2019-08-01 12:24] ParikshithMohan commented on #6
pk-6-dash is the branch I want to merge...Dont want the other 2 simillar looking branches.

[2019-08-01 13:36] azureus89 commented on #6
Make an issue for REPL nightmare please, told you be lazy ... blame whatever is going on. But also css files are there ... so you can technically still show methe code working without thre repl etc. So show me that, alongside making an issue that details what needs fixing on the repl issue or whatever that issue is.

on branches ... delete all other branches that dont matter. And send a pull reque

[2019-08-02 06:20] ParikshithMohan commented on #6
![image](https://user-images.githubusercontent.com/24820582/62348872-bb24b400-b51b-11e9-81e1-af38169bc4f4.png)

I have no idea what to do now...

[2019-08-02 10:08] VikramShawFL commented on #16
How do you want the documentation to be? Like aboves the codes using comments or a separate folder for the documentation

[2019-08-02 10:13] azureus89 commented on #16
make a docs folder

[2019-08-02 10:14] VikramShawFL commented on #16
In doc folder it will have codes which I have added in project.clj and src right

[2019-08-02 10:22] azureus89 commented on #16
Yes you should add code snippets in the documentation to make your point clear

[2019-08-02 10:23] azureus89 commented on #16
In the actual code also add a little documentation .. like function descriptions

[2019-08-02 10:24] VikramShawFL commented on #16
In project.clj I have added and in src still needs to be add

[2019-08-05 05:16] VikramShawFL commented on #11
As mentioned above
1) In order to run CLJS what we need to add in project.clg(like figwheel) and a brief explanation why we are adding?
2) What we need to run in repl or in shell?
3) Some examples to write CLJS code.

[2019-08-05 06:43] ParikshithMohan opened #20 "REPL not starting if branched out of master branch"
On doing `lein run 8000` from the shell it shows this: `No :main namespace specified in project.clj`

On doing `cider-jack-in`, the repl establishes a connection in some random port number but on running the specified localhost, the page does not work.

Issue #6 had to be done using html and not clj because of this problem. For now, issue #6 has been completed.

[2019-08-05 07:07] VikramShawFL commented on #20
@ParikshithMohan  ``No :main namespace`` error is because of two reason 1) You don't have ``-main`` function in core.clj file and 2) You haven't added ``:main xtnt-micro.core`` in project.clj

[2019-08-05 08:38] azureus89 commented on #20
@VikramShawFL .. this is part of what is needed to make the project work .. should be included in the boilerplate .. your responsibility is to make the project boileprlate work .. this is related to #12 .. this is a boilerplate bug .. works only as uberjar .. needs the repls but also lein run to work .. assigning this issue that you ...
As of now what works .. this issue is limited to making lein

[2019-08-06 09:30] kattakavya commented on #20
Even I'm facing the same issue with cider-jack-in-cljs, the connection between local server and repl  is not establishing. couldn't able to execute the project.

[2019-08-06 09:41] azureus89 commented on #12
move discussion to #20

[2019-08-06 09:42] azureus89 commented on #20
@VikramShawFL push the code that has the repls working and then lein ... priority on repls ... clj and cljs repls need to work ... have to merge into master, please push fixes if done and submit pull request ...

[2019-08-06 09:44] azureus89 commented on #20
3 things need to work:
from emacs: cider-jack-in
from emacs: cider-jack-in-cljs
from shell: lein run

[2019-08-06 14:36] azureus89 commented on #20
@VikramShawFL whats getting in the way?

[2019-08-06 15:07] VikramShawFL commented on #20
I just messed up. In afternoon both clj and cljs repl was working fine don't know where I messed up now whenever I run cider-jack-in-cljs it opens up clj repl and the other issue is not able to see the chat msg, not getting any errors I'm able to type the msg and but after entering the msg it doesn't show on the screen. So doing all over again.

[2019-08-06 15:08] VikramShawFL commented on #20
What is the use of lein run when we can just run cider-jack-in-cljs and directly it opens the browser?

[2019-08-06 17:01] azureus89 commented on #20
cider is linked to emacs.
lein is the direct interface with JVM.
Specifically lein run is a portable way of running the server.
The other is via uberjar ... which is useful in production.
During coding, you use the repl.
For dev servr / testing and for testing in different environments you use lein run,
For final deployment on production server you use uberjar, immutant, docker etc.

If deployment

[2019-08-06 17:05] azureus89 commented on #20
difference for dev server between lein and uberjar is that ... uberjar is a compiled jar file, its static. Lein run compiles are runs but recompiles main code. Its not as flexible as the repl though, its inbetween.
with lein run, compojure routes if changed wont recompile, but if you change hiccup in a route it will recompile for instance. So for dev server, testing etc, which we havent got into y

[2019-08-07 08:25] VikramShawFL commented on #20
From emacs cider-jack-in: working
From emacs cider-jack-in-cljs: working

When running lein run I'm getting this error
``Vikrams-MacBook-Pro:xtnt-micro vikramshaw$ lein run
Exception in thread "main" Syntax error compiling at (/private/var/folders/2q/yk46mh910jx_zfflrscctm3m0000gn/T/form-init12974320098193869245.clj:1:126).
	at clojure.lang.Compiler.load(Compiler.java:7647)
	at clojure.lang.Compil

[2019-08-08 06:44] VikramShawFL commented on #20
@azureus89 Can you help me with the above error?

[2019-08-08 07:04] azureus89 commented on #20
Please push latest code.

[2019-08-08 07:05] VikramShawFL commented on #20
I already did that. It's in vk-4-websocket branch

[2019-08-08 21:17] azureus89 commented on #20
Looking into it tomorrow morning ... any progress from your side?

[2019-08-09 04:24] VikramShawFL commented on #20
No, I tried it read articles also but couldn't find the solution.

[2019-08-09 08:40] azureus89 commented on #20
Haven't tried but based on the documentation, this is what I think is going wrong, all issues are related.

Currently the server side (clj) does not have a main function that rungs the http-kit server ... this is causing two problems:

a) lein run doesn't work
b) websocket doesnt work

Lein run doesn't work because it needs a main function, I dont see a main function in your code. Check http kit d

[2019-08-09 09:09] VikramShawFL commented on #20
Added the main function in handler.clj & the namespace in project.clj and implemented the figwheel-main but having the same issue again.

[2019-08-09 11:27] azureus89 commented on #20
run only the clj server, kill everything else ... tell me if the server runs ... start with that/ Report any errors.

[2019-08-09 11:28] azureus89 commented on #20
lein run and report errors

[2019-08-09 11:56] VikramShawFL commented on #20
On running cider-jack-in: clj-cider works but the server doesn't.
On running lein run in both the case i.e before and after cider-jack-in it's giving me the same error
[code]

[2019-08-09 12:46] azureus89 commented on #20
give me the whole error message ... this is truncated

[2019-08-09 12:56] VikramShawFL commented on #20
this is the message when I run ``lein run``
[code]

[2019-08-09 13:02] azureus89 commented on #20
Find a way to get me the whole message, this is truncated too ... "12 lines more" ... I need those 12 lines ... but from what I can see I think the issue is that
you have a dev profile ... and whenever there is a dev profile, it takes that as the default profile. You've not defined a main namespace for your dev profile. By default it looks for core.clj, so usually you dont have to define it or wor

[2019-08-09 13:04] azureus89 commented on #20
Leinegen docs on profiles: https://github.com/technomancy/leiningen/blob/stable/doc/PROFILES.md

this lists out the profile names that are automatically assumed to be the default profile unless lein is run with the with-profile flag specifically running another profile.

[2019-08-09 14:11] VikramShawFL commented on #20
It's not expanding even though after using few commands and I've added main namespace in project.clj. if I have to add main namespace inside the dev profile then I have to write -dev-main function in the handler.clj right
[code]

[2019-08-09 15:23] azureus89 commented on #20
huh, why?
what is -dev-main ... only -main is there in your code.

[2019-08-10 16:34] VikramShawFL commented on #20
Yes only -main function is there in project.clj. I mean to say that we used to write -dev-main function where we used to use wrap-reload like this
![image](https://user-images.githubusercontent.com/46559614/62824254-df862d80-bbb8-11e9-9115-7554fb624254.png)

[2019-08-10 21:02] azureus89 commented on #20
Right.  What I mean is there is no reason to have a
                   -dev-main just because thers a dev profile. You can
                   indicate  anything  as  your  main function for any
                   given  profile,  so here you'd use main only, there
                   are no other functions.

[2019-08-11 06:13] ParikshithMohan commented on #17
Can you tell me what this newsfeed page should look like?

[2019-08-11 06:14] ParikshithMohan commented on #17
i was thinking more like this page

http://preview.themeforest.net/item/ideabox-material-blogmagazine-html-template/full_screen_preview/21754529

[2019-08-11 09:44] azureus89 commented on #17
use twitter as reference

[2019-08-13 10:07] VikramShawFL commented on #20
I'm stuck here only not able to figure out what's the error

[2019-08-13 12:47] ParikshithMohan commented on #17
This is what I have made.
![pk-newsfeed-17-1](https://user-images.githubusercontent.com/24820582/62942727-899ec900-bdf6-11e9-801b-13b27422a870.PNG)
![pk-newsfeed-17-2](https://user-images.githubusercontent.com/24820582/62942729-899ec900-bdf6-11e9-8428-293999717ad4.PNG)

[2019-08-13 12:59] azureus89 commented on #17
Much better than your previous dashboard ... look at making it more sleek ... there are many small things that you can improve, im sure you yourself can see that.

[2019-08-13 13:50] azureus89 commented on #20
@VikramShawFL merged the fix into your vk-4 branch.
Add the optional port assignment code, make it work - find out what the issue was with it exactly.

[2019-08-13 13:56] azureus89 commented on #16
Just a note on how you run a clj + cljs project that has websockets:

1. Start the http-kit webserver by
a) Using lein run : this should work automatically, but any edits to the routes wont have effect
b) Using cider-jack-in : When you start the repl, all the code has loaded, but the server hasnt started yet, in order to start the server you have to go into the repl and run `(-main)` or whatever t

[2019-08-13 13:56] azureus89 commented on #16
Please document all this properly in the documentation you are submitting in this branch

[2019-08-13 14:04] azureus89 commented on #20
fix optional port assignment and push and submit pull request today, without which i will merge existing to master, because kavya and parikshith are waiting

[2019-08-13 14:04] #12 closed, assigned to nobody

[2019-08-14 14:30] azureus89 commented on #20
@ParikshithMohan @kattakavya this has been fixed, please start working from your project branches here on cljs

[2019-08-14 14:30] #20 closed, assigned to nobody

[2019-08-14 14:32] azureus89 commented on #16
@VikramShawFL not entirely happy with the documentation ... im keeping this issue open because im not sure if @ParikshithMohan @kattakavya  will know how to use this project from the documentation alone ... I urge you guys to please post here if you have any issues getting the project running and everything working. I don't want you to figure it out ... I want you to use this opportunity to point

[2019-08-14 14:32] azureus89 commented on #11
@VikramShawFL @sahabaishakhi who is working on this ... and why is there no output for a simple introduction to clojurescript that people can follow as yet?

[2019-08-14 14:42] VikramShawFL commented on #16
That documentation was for cljs, figwheel-main implementation for existing project. For this "Documentation for clj/cljs implementation for websockets #16" I'm creating a separate documentation.

[2019-08-14 14:50] VikramShawFL commented on #11
Have already cover the first two points in the documentation for adding cljs, figwheel-main to existing project. @sahabaishakhi will do the point number 3 as she has worked more than me on cljs.

[2019-08-14 15:25] azureus89 commented on #16
okay, got it :)

[2019-08-14 15:28] azureus89 commented on #11
cool.
Think issue is work is very unorganised. This is issue #11 ..
points 1 and 2 should have been moved to #16
the documentation for that should have been pushed in a new branch vk-16, instead of in vk-4 .... if doing in vk-4 itself, it should be mentioned in the issue thread and pull request, that you are combining the issues, so that work and discussions are not spread across ...

Whatever is

[2019-08-19 01:40] azureus89 commented on #17
whats with the silence ... 6 days since last update

[2019-08-19 08:54] ParikshithMohan commented on #17
sorry working on it

[2019-08-19 09:37] VikramShawFL opened #23 "Unhandled java.net.BindException Address already in use"
I was going through the issue where you had explained about how to run the websocket which has clj and cljs in it.
I understood that we need ``cider-jack-in`` to load the program and if there is any changes in the routing configuration, otherwise we only need ``lein run`` to run the websocket.  ``cider-jack-in-cljs`` to compile the cljs code to javascript and to run the auto update.
Correct me if

[2019-08-19 10:28] ParikshithMohan commented on #17
Improved newsfeed.

![improved-newsfeed-1](https://user-images.githubusercontent.com/24820582/63258673-30251700-c29a-11e9-9929-91a8e958b0fe.PNG)
![improved-newsfeed-2](https://user-images.githubusercontent.com/24820582/63258674-30bdad80-c29a-11e9-87a3-654fd26adcf1.PNG)

[2019-08-19 11:00] azureus89 commented on #23
Change the ports so there is no conflict .. anyway you are hardcoding the ports for now .. either change http-kit server port or the figwheel main port

[2019-08-19 11:08] azureus89 commented on #17
What are the improvements .. what are you trying to improve .. what are the differences you see from the reference page that need more work

[2019-08-19 12:03] ParikshithMohan commented on #17
**IMPROVEMENTS:**
1. Search bar added
2. removed overflow from both the divs in the right side container(Trending and you might like)
3. Added terms and conditions
4. People following the page added
5. Replaced 'compose' button with 'Create feed'  button in left container
6. Added comment, retweet, Like and dm icons under the feed.
7. Added date and expand icon in the feed.
8. Minor design flaws c

[2019-08-20 07:06] VikramShawFL commented on #23
Changing the http kit port in `` (hk/run-server app {:port 9500})`` is breaking the code. I even tried `` :connect-url "ws://localhost:8000/figwheel-connect"``  by adding in figwheel.main . Maybe I am doing wrong something.
How to change the port number of figwheel main port?
I have changed `` (hk/run-server app {:port 9500})`` to ``(hk/run-server app {:port (Integer. port)})`` so that I can run s

[2019-08-20 10:56] azureus89 commented on #23
I'm not having any issues when I change the port to 8000.
Same has to reflect in the core.cljs file too in the ws url ... pushing commit and merging to master.

You don't need to do anything else, it works fine.
If you're running both repls then ..
a) start the clojure repl
in the repl run (-main)
open localhost:8000 and see if its loading
note: this will still give you a websocket error because y

[2019-08-20 11:34] VikramShawFL commented on #23
That's what it was confusing me, how to run both the repl and also the server.
Yes it is working fine. we can close the issue.

[2019-08-20 11:43] azureus89 commented on #23
closing the issue, include the instructions in documentation, so other people dont run into the same problem

[2019-08-20 11:43] #23 closed, assigned to nobody

[2019-08-21 08:21] ParikshithMohan commented on #17
![image](https://user-images.githubusercontent.com/24820582/63415082-ca13cd80-c41a-11e9-98e0-4e6da01d913c.png)

[2019-08-21 10:57] azureus89 commented on #17
better but only slightly, attention to details please

[2019-08-22 07:26] ParikshithMohan commented on #17
Having trouble starting repl. I created new branch from origin/master and then did the usual `lein run 8000`.That did not work.I also tried cider-jack-in .That started the localhost but did not load the page.

[2019-08-22 07:26] ParikshithMohan commented on #17
@azureus89 @VikramShawFL Above.

[2019-08-22 07:35] VikramShawFL commented on #17
@ParikshithMohan Use only ``lein run`` not ``lein run 8000`` as the port number is pre defined and then you can go to ``localhost:8000`` and see the websocket is running. You can run the cider along with ``lein run``

[2019-08-22 07:37] VikramShawFL commented on #17
There are two ways to start the websocket:
1) with ``lein run``
2) with cider-jack-in:-  When you start the repl, all the code has loaded, but the server hasn't started yet, in order to start the server you have to go into the repl and run (-main) or whatever the main function is in your program that starts the app server. After this it works just like lein run, except when you change routing etc,

[2019-08-22 07:42] ParikshithMohan commented on #17
@VikramShawFL Thanks.Its running.

[2019-08-23 07:08] ParikshithMohan commented on #17
@azureus89 @VikramShawFL Changes made in hiccup while repl runs, cannot be seen..ie no changes are being reflected on the localhost screen, even when I refresh the page. To see the changes the repl needs to be restarted...which is very frustrating. Plus css files are not being recognized.

[2019-08-23 07:35] VikramShawFL commented on #17
@ParikshithMohan How you are running the server?

[2019-08-23 07:39] ParikshithMohan commented on #17
@VikramShawFL lein run

[2019-08-23 13:50] VikramShawFL commented on #17
@ParikshithMohan Add this to namespace and in (-main) function in handler.clj to see the changes you are making after refreshing the page. ``wrap-reload`` is a ring middleware function that will push all our code changes to the application each time we save.
![image](https://user-images.githubusercontent.com/46559614/63597376-efe7d080-c5da-11e9-9aa9-e9206ea30abe.png)
![image](https://user-images.g

[2019-08-26 13:17] VikramShawFL commented on #17
@ParikshithMohan Error because of which your css was not working:-
1) in (include-css "newsfeed.css") there was typo error. You wrote newfeed.css
2) since your all css file are in css folder so you have to add path in your include-css like ``(include-css "css/newsfeed.css")``
3) you can add multiple css file in one include only.
Have commited to your repository, it is working please check

[2019-08-26 13:22] azureus89 commented on #17
@VikramShawFL dont push code to someone elses branch ... if you want to suggest code changes to them, just like with master ... create a new branch on their code, and send a pull request from your branch to their branch

[2019-08-26 13:23] VikramShawFL commented on #17
okay, I'll keep in mind from next time.

[2019-08-26 13:25] azureus89 commented on #17
@ParikshithMohan branch naming convention mistake
should be pk-17-newsfeed

[2019-08-27 10:55] ParikshithMohan commented on #17
Not able to push. I think its because vikram had pushed something to my branch earlier. @azureus89

![image](https://user-images.githubusercontent.com/24820582/63765731-4d379680-c8e7-11e9-892e-7dd524369dae.png)

How to resolve?

[2019-08-27 10:58] ParikshithMohan commented on #17
![image](https://user-images.githubusercontent.com/24820582/63765931-b9b29580-c8e7-11e9-8ce7-4c68da8265aa.png)

[2019-08-27 11:00] ParikshithMohan commented on #17
![image](https://user-images.githubusercontent.com/24820582/63766031-f7172300-c8e7-11e9-9cf6-3fae5674b6e9.png)

The unpulled one is vikrams..(css fixed)

[2019-08-27 11:16] VikramShawFL commented on #17
@ParikshithMohan First update your local repository and then push. It's clearly says that your local repository is not updated

[2019-08-27 11:20] ParikshithMohan commented on #17
@VikramShawFL Yes.But ill loose the work i have done till now right?

[2019-08-27 11:23] VikramShawFL commented on #17
@ParikshithMohan I'm not sure about that. You can copy your work and paste it somewhere else and then you can update your local repository. After updating paste it back to your specific files

[2019-08-27 11:24] ParikshithMohan commented on #17
@VikramShawFL yes thats what i initially thought of. Maybe @azureus89 knows a better way, instead of doing that...??

[2019-08-27 12:11] azureus89 commented on #17
@VikramShawFL this is why you shouldnt push to someone elses branch :)
@ParikshithMohan ... the git way is to use a stash, for future reference
but looking at the commit, vikrams changes are very small and you may get a merge conflict when you pull from origin but it will not be hard to resolve, its only 1/2 lines ... kavya is scheduling a call tonight for css review, we can do it in that call ...

[2019-08-27 12:45] #11 closed, assigned to nobody

[2019-08-27 12:47] azureus89 commented on #16
@VikramShawFL do you want to refine this documentation based on experiences you've had with parikshith. When kavya migrates her code back to xtnt-micro - then you can see again if your documentation is clear enough.

[2019-08-27 12:53] VikramShawFL commented on #16
I have already made some modification. As of now it is fine. If I find something important which should be added in the documentation I'll add then.

[2019-08-27 14:06] azureus89 commented on #16
but have those changes been merged into master? otherwise no one can see them :)

[2019-08-27 14:10] VikramShawFL commented on #16
No, it's in vk-16-websocket branch in doc folder and I have created a pull request also

[2019-08-28 15:08] kattakavya commented on #18
@azureus89
code
.dis
{
position: fixed;
height: 104px;
width: 104px;
left: -9px;
top: -12px;
border-radius: 50%;
z-index: 7;
}
.dis-back
{
border-radius: 50%;
height: 63px;
width: 63px;
top: 9px;
left: 12px;
position: fixed;
z-index:6;
background-color:#2f3136;
}
.dis-back:hover
{
background-color: rgb(114, 137, 218);
cursor: pointer;
}
problem:
hover effect is not working..i don't know were i hav

[2019-08-28 15:16] azureus89 commented on #18
ignore and proceed, we can resolve on a call sometime ... probably cant change color from hex value to rgb value ... try and see ... otherwise maybe some other conflict or issue in class naming in html ..

[2019-08-29 10:28] kattakavya commented on #18
@azureus89 I have done part 1 &2 Css improvement, please find the snapshot and provide the feedback.

[2019-09-05 11:47] sahabaishakhi opened #28 "Cider-jack-in-clj&cljs not working"
I tried deleting the existing micro project on my system and cloning it again despite of which I could not get the repl to start running, by running the M-x cider-jack-in-clj&clj command on core.cljs file.
I also tried both restarting emacs and killing the repls to try again.
The error that I am getting is
Unhandled java.lang.NullPointerException
   (No message)
I will attach screenshots of both t

[2019-09-05 14:35] azureus89 commented on #28
are you running M-x cider-jack-in-clj&cljs?
as opposed to running cider jack in / lein run first and THEN cider-jack-in-cljs?

[2019-09-05 14:40] sahabaishakhi commented on #28
I tried cider-jack-in and then cider-jack-in-cljs approach first and was getting the same error. was told by @VikramShawFL to try M-x cider-jack-in-clj&cljs

[2019-09-05 22:40] azureus89 commented on #28
try lein run and see if the server is working.
check for errors in repl, emacs message log and chrome dev console
let me know if this is working first, if not, post errors and optionally screenshots

[2019-09-06 06:08] sahabaishakhi commented on #28
@azureus89 lein run is working for me. I checked the functioning of websocket and it is working fine upon trying lein run on shell..

[2019-09-06 08:08] sahabaishakhi commented on #28
the error that I'm getting on the chrome dev console is (after lein run on shell)
`WebSocket connection to 'ws://localhost:9500/figwheel-connect?fwprocess=d3c58d&fwbuild=dev&fwsid=d9462ffb-7c94-43c4-8d7c-6c1fbba8e87a' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED`
`[goog.net.WebSocket] An error occurred: undefined`
`[goog.net.WebSocket] The WebSocket disconnected unexpecte

[2019-09-06 09:40] ParikshithMohan commented on #17
![1-2019090615-pk-17-newsfeedui](https://user-images.githubusercontent.com/24820582/64418294-5d562f80-d0b8-11e9-8cc2-c7ce9338b593.PNG)
![2-2019090615-pk-17-newsfeedui](https://user-images.githubusercontent.com/24820582/64418295-5d562f80-d0b8-11e9-99b2-edeef880a27a.PNG)

[2019-09-06 10:37] azureus89 commented on #28
@VikramShawFL is this normal is you just run lein run?
This is a figwheel error, it shouldn't affect the app itself - is this expected behaviour when just running lein run?

[2019-09-06 10:38] azureus89 commented on #28
note: lein run has nothing to do with figwheel, for some reason it is trying to check if figwheel is running or not ... but that shouldnt affect the app itself, just want to know if this is expected behaviour as per your code if someone just runs lein run.

[2019-09-06 10:40] VikramShawFL commented on #28
Those errors are because figwheel main is not connected. All these errors will go once cljs repl starts working. So the best way for running the websocket is running clj repl and cljs repl and from from clj repl we need to run the main function

[2019-09-06 10:44] azureus89 commented on #28
okay so figwheel not connected error is expected if no cljs server.
@sahabaishakhi if you still have lein running and no other repl running, then go ahead and do jack-in-cljs now ...
if not, ensure that only lein is running and no other repl, before you jack-in-cljs
once done, same as above, post errors/ logs / screenshots if any errors

[2019-09-06 10:45] azureus89 commented on #28
testing with lein run instead of clj repl first, because lein run is more stable, and if this works with cljs repl then we know the issue is in clj repl

[2019-09-06 11:03] sahabaishakhi commented on #28
@azureus89 after lein and then jack-n-cljs gives the same error as before i.e
[code]

[2019-09-06 11:13] azureus89 commented on #28
post the full error stack trace please

[2019-09-06 11:14] azureus89 commented on #28
the one that comes up in the cider-error window

[2019-09-06 11:24] sahabaishakhi commented on #28
[code]

[2019-09-06 11:48] azureus89 commented on #28
show me the magit status window for the branch you're on, want to see if you are in sync properly

[2019-09-06 11:49] sahabaishakhi commented on #28
![Screenshot from 2019-09-06 17-19-40](https://user-images.githubusercontent.com/46530784/64425821-867fbb80-d0ca-11e9-90a5-65771606e176.png)

[2019-09-06 14:42] azureus89 commented on #28
issue is in core.clj ... @VikramShawFL please explain what is core.clj, isn't everything in handler.clj, when did core.clj come into the picture?

[2019-09-06 14:43] azureus89 commented on #28
it came in, on this commit https://github.com/224-1/xtnt-micro/commit/cd71e82586829cf7067d80b0efa5ed9d1dca326f

Please clarify

[2019-09-06 14:48] VikramShawFL commented on #28
By seeing the codes, @ParikshithMohan was working on core.clj.

[2019-09-06 14:53] azureus89 commented on #28
this is your commit, why is the core.clj file there?

[2019-09-06 15:05] azureus89 commented on #28
@sahabaishakhi it is working for everyone, dont think you are doing anything wrong, the error is accurate, not sure why it isn;t coming for everyone, my best guess is linux is enforcing something around environment variables. But the error is accurate, core.clj should not exist, it is a duplication, and @ParikshithMohan @VikramShawFL you shouldn't just casually name something core.clj ... this is

[2019-09-06 15:08] VikramShawFL commented on #28
Yes, it was my fault not to recognise that. I thought @ParikshithMohan was working on the core.clj so I didn't removed that.

[2019-09-06 15:15] azureus89 commented on #28
@VikramShawFL theres always a first time
@ParikshithMohan why didnt you just use handler.clj, what was the idea you had in adding core.clj, why cosntantly make life harder for yourself? adding a whole file, when only one line change in handler.clj was necessary?

@sahabaishakhi please checkout az-28 and see if it works, once you confrim ill merge into master and close this issue

[2019-09-06 16:41] ParikshithMohan commented on #28
Neither created nor used core.clj. Why would I name something core.clj..lol

[2019-09-07 09:19] sahabaishakhi commented on #28
@azureus89 I'm facing the same issue after checking out az-28. I tried running jack-in-cljs repl after lein run. also tried after jack-in as well as jack-in-clj&cljs.. I am getting the same null pointer error

[2019-09-07 11:22] azureus89 commented on #28
Post the whole stack trace .. it will not be the exact same error since there is no core.clj file .. same error message .. different stack trace

[2019-09-07 11:22] sahabaishakhi commented on #28
The error I'm getting -
[code]

[2019-09-07 11:45] sahabaishakhi commented on #28
@azureus89 the stacktrace still refers to the core.clj file despite of its absence. what could be the reason?

[2019-09-08 05:41] azureus89 commented on #28
a) show magit-status : confirm you are in the right branch
b) confirm all repls and lein servers are closed before you try again
c) show dev console on localhost in chrome
d) what is your leinegen version
e) what is your emacs version

[2019-09-08 12:54] sahabaishakhi commented on #28
a)
![Screenshot from 2019-09-08 18-13-23](https://user-images.githubusercontent.com/46530784/64488342-61bf4b80-d264-11e9-9d43-27d8ee6e5220.png)
b) checked all existing repls and servers to be closed.
c)
![Screenshot from 2019-09-08 18-20-04](https://user-images.githubusercontent.com/46530784/64488423-8cf66a80-d265-11e9-9b24-bc4c7b3c311f.png)
d) leiningen version - Leiningen 2.8.1 on Java 1.8.0_222

[2019-09-09 09:39] azureus89 commented on #28
is the image in c) after lein run,
or after lein run + cider-jack-in-cljs

[2019-09-09 09:40] sahabaishakhi commented on #28
after lein run.

[2019-09-09 09:51] azureus89 opened #29 "Re-factor newsfeed ui into components"

[2019-09-09 09:52] azureus89 commented on #29
@kattakavya work with parikshith to re-factor the newsfeed UI into components instead of one large hiccup function ... make the code more functional, can show you an example

[2019-09-09 09:54] azureus89 opened #30 "Migrate chat from html5-synth to xtnt-micro"

[2019-09-09 09:55] azureus89 commented on #6
@ParikshithMohan status on this issue?

[2019-09-09 10:00] azureus89 opened #31 "Clone trello UI"
Clone all elements on the trello board page, no clicks and popups, just the elements on the main board page. Dont make one big hiccup function, make it into components.

**Credits:** 20

[2019-09-09 10:00] azureus89 opened #32 "Clone trello popup"
Clone the popup that comes whenever you click a trello card.

[2019-09-09 10:13] azureus89 commented on #28
try restarting once and repeat the steps, wondering why its giving you figwheel websocket errors on lein run, thats closely related to the main error, something deeper is going wrong, and seems to be linux specific, ill try on my linux system and check as well

[2019-09-09 11:15] ParikshithMohan commented on #31
![trelloui](https://user-images.githubusercontent.com/24820582/64526560-45351900-d321-11e9-9317-e44814e37448.PNG)

So everything in here?

[2019-09-09 11:42] azureus89 commented on #31
yes just the UI, but make sure you are refactoring your hiccup and creating components, I dont want one big mess of hiccup code. If you dont know what I mean, when you do a little bit, notify me, ill re-factor and show you.
Functional UI will be driven by data state, so in case you didnt understand from the piano example, notify me when you progress a little bit and have a few things done, and ill

[2019-09-09 12:00] ParikshithMohan commented on #31
Having trouble dividing hiccup into different components.
![image](https://user-images.githubusercontent.com/24820582/64528938-4ff2ac80-d327-11e9-9e24-ba38452ec4e6.png)

Highlighted : header and footer are the two different functions with hiccup.

This produces a syntax error

[2019-09-09 12:07] azureus89 commented on #31
please dont send me screenshots of code, screenshots are for UI

[2019-09-09 12:08] azureus89 commented on #31
in the routing you can refer to only one function ... you need to split up the hiccup code in your trello namespace and compile it into one function ... check html5-synth for this ... or any hiccup example, youll see how its done
 you cant call two functions when somebody lands on /trelloui

[2019-09-09 20:07] azureus89 commented on #28
post restart report on the same 5 points?

[2019-09-09 21:21] sahabaishakhi commented on #28
after restart -
a) right branch confirmed
b) existing repls and servers are closed
c)
![Screenshot from 2019-09-10 02-21-47](https://user-images.githubusercontent.com/46530784/64566152-e8fae500-d372-11e9-9676-4c86ab2ad125.png)
d) leiningen and e) and emacs version remain the same
same error upon running cljs repl

[2019-09-10 13:06] kattakavya commented on #18
@azureus89 please find the snap-shot of UI chat and provide the feedback, if it get finalized i will merge the project into xtnt-micro

[2019-09-10 22:37] azureus89 commented on #28
we have to get this working by tomorrow, see what you can do from your side, im making this a credit based issue for 20 credits

[2019-09-11 13:03] kattakavya commented on #32
@azureus89 you mean to say add card?
![image](https://user-images.githubusercontent.com/46553145/64699225-f4a8f180-d4c1-11e9-8a8f-57ea14c1689e.png)
is this should I prepare?

[2019-09-12 05:23] azureus89 commented on #32
@kattakavya no the popup that comes when you click a card on trello ... a card that already exists, where you can add comments etc

[2019-09-12 05:37] azureus89 commented on #18
wwe are not merging, we are re-doing in xtnt micro on top of the skeleton framework that is already there ... this may take some time, focus on trello issues on xtnt-micro

[2019-09-13 12:32] sahabaishakhi commented on #28
Methods tried -
since I read that a null point exception is thrown when null value has been assigned to an object reference which is used by the application.. and that there are some ways of preventing it.. in order to do that I am going through handler.clj and core..cljs files and core async from documentation to understand what is happening in the application

I read similar problems encountered

[2019-09-13 12:45] azureus89 commented on #28
do you know how to read the stack trace that you are getting?

[2019-09-13 12:46] sahabaishakhi commented on #28
no I am not getting it..

[2019-09-13 13:00] azureus89 commented on #28
https://8thlight.com/blog/connor-mendenhall/2014/09/12/clojure-stacktraces.html
and
http://blog.jayfields.com/2012/06/reading-clojure-stacktraces.html

why didn't you flag this yourself? remember, blame shit that doesn't work and isn't good enough, the fate of the world is not just on your shoulders

[2019-09-16 09:23] azureus89 opened #34 "Responsive Trello UI"
Make existing trello UI responsive.
Hiccup structure might change, dont break componentisation.

Credits:15

[2019-09-16 09:23] #31 closed, assigned to ParikshithMohan

[2019-09-16 13:17] azureus89 opened #35 "Migrate trello page from clojure to clojurescript"
@kattakavya there is a clojure namespace for trello ui. @ParikshithMohan has written it as clojure hiccup, You need to migrate it to clojurescript so it can work with reagent like html5-synth. Ask if any questions about the task. Ask parikshith for any documentation needs.

Credits: 20

[2019-09-16 13:18] azureus89 commented on #35
I might pull this without documentation in order to progress other tasks, but for task completion it needs documentation.
This task is high priority and urgent.

[2019-09-16 13:58] kattakavya commented on #35
@ParikshithMohan can you provide documentation please

[2019-09-17 08:19] kattakavya commented on #35
@azureus89 I'm not getting a complete picture on migration  from clojure to clojurescript ,I have tried doing it,getting an error as page not found,please can you provide documentation.

[2019-09-17 08:43] azureus89 commented on #35
Tell me what you are trying to do, and what your understanding of a clojurescript project is - how does it work

[2019-09-17 10:35] ParikshithMohan commented on #35
@azureus89 @kattakavya please hold migration have to finalise changes to div structure and css

[2019-09-17 11:02] azureus89 commented on #35
3 hrs max

[2019-09-17 11:52] kattakavya commented on #35
@azureus89 For migration I have create a file in cljs folder with cljs extension. Basically clojure script act as a compiler for Clojure and supported by the regent(react.js), so we are using regent library and it is used for building complex UI's by using hiccup and  for web applications.

[2019-09-17 12:08] azureus89 commented on #35
@kattakavya clojurescript files compile to javascript files in the out folder ...
you need to
a) have a blank html page with js pointing to the js output file. make sure css used is the same as the ones in parikshiths clj file
b) create a route in handler/core so you can see your new page
c) make the functions used in the clj file work one by one in the clojurescript file, and tackle any errors as

[2019-09-18 10:21] sahabaishakhi commented on #28
Methods I've tried -
I went through the articles for reading stacktraces. However, the key identifiers that causes one to pin point on a particular case aren't there.
-> For example `Caused by:` which is referenced as a starting point in order for us to know the exception's class and description of the error..
-> I couldn't find the namespace `stacktraces.core` followed by dollar sign and a functi

[2019-09-18 10:39] azureus89 commented on #28
Tell me in the following format
**Context**: Background information / what are you running, steps taken to produce the issue
**Issue**: What is going wrong in a line or two
**Logs**: error logs etc
**Highlights**: Highlights from error logs
**Hypothesis**: What do you think is going wrong
**Test**: What will you do to test your hypothesis
**Conclusion**: Is the hypothesis right / wrong ... if wron

[2019-09-18 15:35] kattakavya commented on #35
@azureus89  I have created a route in core and for the output file i have changed the destination and i have tried to follow the clojurescript document i.e by running lein trampoline cljsbuild repl-rhino followed by lein cljsbuild once, use to  converts  cljs from js. I'm using this command to get the cljs-out folder in resources.

[2019-09-18 17:18] sahabaishakhi commented on #28
**Context**: The issue arises upon running the cider-cljs repl. The steps taken are to run `lein run` command on the shell inside the project directory followed by `M-x cider-jack-in-cljs` on core.cljs file.

**Issue**: The cljs cider repl does not successfully run and throws a Null pointer exception, not followed by the usual stacktraces to pinpoint to the exact error. The `lein run` command runs

[2019-09-18 20:24] azureus89 commented on #28
**Overview**
Good error report. A few notes I'll cover below. Mainly, start with just lein run issue - it tries to connect to figwheel when you do lein run, that should not happen. Whats happening with the cljs repl might just end up being a direct consequence of that.
**On error logs**

This happens when there is nothing wrong with the program itself but something else, either a clojure or lein o

[2019-09-18 20:50] azureus89 commented on #35
not required, project is already configured for figwheel-main
@VikramShawFL please make sure documentation is clear for this project, perhaps you need to edit the main project readme itself. Explain clearly what goes where, and how to start/test/develop clj and cljs in xtnt-micro.

[2019-09-19 08:50] sahabaishakhi commented on #28
@azureus89 While copying the stack trace to post here. as you can see from the screenshot I have attached, there's no
[code]
neither
[code]
somehow I am unable to view the above missing lines on emacs but upon pasting them, I'm able to see them.. what could be the reason behind it?

[2019-09-19 10:21] ParikshithMohan commented on #34
![image](https://user-images.githubusercontent.com/24820582/65236040-5a663080-daf5-11e9-8797-20e8a72a2c46.png)

[2019-09-19 14:17] sahabaishakhi commented on #28
**Context**: Running `lein run` on shell to run the program and start server on port no 8000

**Issue**: Errors related to figwheel and websocket disconnection

**Logs**:

[code]
**Highlights**:
-> Using lein run reveals a figwheel error and the websocket disconnecting unexpectedly.
-> figwheel error appearing despite of not using `M-x-cider-jack-in-cljs` yet

**Hypothesis**:
-> The execution of l

[2019-09-19 14:34] sahabaishakhi commented on #28
**Context**: Running `lein run` on shell to run the program and start server on port no 8000

**Issue**: Errors related to figwheel and websocket disconnection

**Logs**:

[code]
**Highlights**:
-> Using lein run reveals a figwheel error and the websocket disconnecting unexpectedly.
-> figwheel error appearing despite of not using `M-x-cider-jack-in-cljs` yet

**Hypothesis**:
-> The execution of l

[2019-09-19 14:35] azureus89 commented on #28
@sahabaishakhi i am suggesting running the program without lein ... there are many ways to execute and run a clojure program ... you can look it up ... point is to figure out whether the problem occurs during leins build and run process, then it will allow you to narrow down and realise its something in lein config

[2019-09-19 14:37] azureus89 commented on #28
ie. your conclusion is incorrect, I reject it, you have merely tried to run via lein or nrepl via emacs and shell ... lein itself works on top of the nrepl, so you cannot really conclude that all methods of running the program produce the same error ... only nrepl based methods seem to producing this error, as of now only on your system, whether that extends to linux in general we will know tonigh

[2019-09-19 14:39] sahabaishakhi commented on #28
I mentioned in test that I tried running `M-x-cider-jack-in-clj` followed by `(-main)` in repl buffer..

[2019-09-19 14:40] #34 closed, assigned to ParikshithMohan

[2019-09-19 14:41] azureus89 commented on #35
@kattakavya please work with vikram to ensure the documentation is good enough that anyone can understand how to do this

[2019-09-19 14:48] sahabaishakhi commented on #28
okay, I will find other methods to run the program without using lein or nrepl.

[2019-09-19 15:22] kattakavya commented on #35
@azureus89 & @VikramShawFL I'm facing below error,I have followed the path were I'm facing the error:
  (Exception in thread "main" Syntax error compiling at (C:\Users\welcome\AppData\Local\Temp\form-init1915816337717417497.clj:1:110) did not found this file itself.

c:\Users\welcome\xtnt-micro>lein trampoline run -m figwheel.main -- -b dev -r
lein trampoline run -m figwheel.main -- -b dev -r
2019

[2019-09-20 07:34] VikramShawFL commented on #35
@kattakavya push your code and tell me the steps you are following

[2019-09-20 09:36] VikramShawFL commented on #35
@kattakavya Check the namespace properly. You have created a file name ``trelloUI.clj`` and the namespace you wrote is this
![image](https://user-images.githubusercontent.com/46559614/65316791-391a4880-dbb8-11e9-9dc2-674bc64bf9f0.png)

[2019-09-20 10:13] kattakavya commented on #35
@VikramShawFL that is @ParikshithMohan file, you are looking in clj, please find my file in cljs folder

[2019-09-20 10:16] VikramShawFL commented on #35
@kattakavya steps??

[2019-09-20 10:35] kattakavya commented on #35
@VikramShawFL while running the lein trampoline run -m figwheel.main -- -b dev -r command, I'm facing with above error.,you can find in above messages

[2019-09-20 10:38] azureus89 commented on #35
@VikramShawFL please share error reporting format with kavya

[2019-09-20 10:38] azureus89 commented on #35
@kattakavya we are trying to communicate errors more clearly, follow format vikram gives you for reporting errors

[2019-09-20 10:41] azureus89 opened #38 "Discord web client UI"
**20 credits:**
clj template
componentised hiccup
data driven

**+10 credits:**
responsive

**Deadline: 23/9/19**

**Notes**
ask me if you want me to specify the data model and you dont want to attempt it yourself

[2019-09-20 10:43] ParikshithMohan commented on #38
data model?

[2019-09-20 10:44] VikramShawFL commented on #35
@kattakavya
**Context**: Background information / what are you running, steps taken to produce the issue
**Issue:** What is going wrong in a line or two
**Logs:** error logs etc
**Highlights:** Highlights from error logs
**Hypothesis:** What do you think is going wrong
**Test:** What will you do to test your hypothesis
**Conclusion:** Is the hypothesis right / wrong ... if wrong, what did you lear

[2019-09-20 10:56] azureus89 commented on #38
yes check the trelloui componentised version, components are drive by state atom ... that is the core part of a reactive application

[2019-09-20 10:56] ParikshithMohan commented on #38
got it.

[2019-09-20 11:20] kattakavya commented on #35
Error
**Context** I'm trying to migrate the  clj to cljs
**Issue** I have run the command ein trampoline run -m figwheel.main -- -b dev -r command
**Logs** (Exception in thread "main" Syntax error compiling at (C:\Users\welcome\AppData\Local\Temp\form-init1915816337717417497.clj:1:110) did not found this file itself.

c:\Users\welcome\xtnt-micro>lein trampoline run -m figwheel.main -- -b dev -r
le

[2019-09-20 11:25] azureus89 commented on #35
@kattakavya ignore what doesnt matter ... like the form-init file ... its a temp file ... issues seems to be in your cljs code itself, but before that, why running lein trampoline ... is it part of the process described by vikram?

[2019-09-20 11:28] azureus89 commented on #35
suggest push to branch, if not already done .. but ive not used trampoline, dont know what it does, so cant provide support for trampoline, I can try to see whats wrong via the normal repl, and the process vikram has created

[2019-09-20 11:37] VikramShawFL commented on #35
These trampoline thing is used in aliasing the figwheel-main configuration in project.clj
[code]
And explained that using this :aliases how we can run figwheel-main, but I have clearly stated at the end of the document on how to run the server and then figwheel-main using ``cider-jack-in-cljs``

[2019-09-20 11:53] azureus89 commented on #35
@kattakavya why using trampoline ... i dont think its required ... is vikrams execution steps now clear? let him know ...

[2019-09-20 18:09] kattakavya commented on #35
@azureus89 tried with trampoline also,followed the steps cider-jack-in-cljs -->figwheel-main later dev,
**Error**
 [Figwheel] Validating figwheel-main.edn
[Figwheel] figwheel-main.edn is valid \(ツ)/
[Figwheel] Compiling build dev to "target\public\cljs-out\dev-main.js"
[Figwheel] Failed to compile build dev in 0.521 seconds.
[Figwheel:WARNING] Could not Analyze   src\cljs\xtnt_micro\trello.cljs

[2019-09-22 18:25] ParikshithMohan commented on #38
Progres...

![image](https://user-images.githubusercontent.com/24820582/65392628-6b809d00-dd94-11e9-9b00-c4e1ba5e1c74.png)

[2019-09-23 07:20] ParikshithMohan commented on #38
![image](https://user-images.githubusercontent.com/24820582/65407583-a6b8b580-de00-11e9-8255-87c7af1914c5.png)

[2019-09-23 10:06] azureus89 commented on #38
Pretty good, attention to detail much much better than previous first cuts, but learn to polish it, subtler things missing, try to spot them by comparing.

how componentised is your code? We will be stopping work on this tomorrow and moving to bomb ... so focus on componentisation till then, not UI improvements ..

you can just reply with the answer to above (spot subtle changes), no need to work

[2019-09-23 10:28] sahabaishakhi commented on #28
**Context**: `M-x cider-jack-in` yields an error, after adding nrepl dependency with the latest version inside project.clj and checking out the remote master branch with the latest changes of the project, including changing the `trelloUI.clj` to `trelloui.clj`

**Issue**: Compiler exception in the form of a syntax error in cider/nrepl/middleware/pprint.clj

**Logs**:
[code]
**Highlights**:
-> Ther

[2019-09-23 10:50] ParikshithMohan commented on #38
**IMPROVEMENTS TO BE MADE:**
-Font used by discord is Whitney. I used Lato since Whitney is a paid font.
-Left-most container `:hr` width not right and xtnt logo `border-left` not perfect.
-right-most container: No green and moon logo to show online or not.
-Did not find perfectly similar icons...for example the smiley
-Color inside chat container slightly off (Need to refer the color hex values I

[2019-09-23 11:01] ParikshithMohan commented on #38
@azureus89  How do I tell if my the level of componentization is enough or not? Not sure of the amount of componentization u want... also don't know if I overdid it.  I have tried to make the code much less messy this time. When should I make a pull request?

[2019-09-23 11:13] azureus89 commented on #38
@ParikshithMohan whenever you feel its ready ... my review will come only after pull request
you have time till tomorrow

[2019-09-23 15:41] kattakavya commented on #35
@azureus89
**Context:**  running lein run on shell  to connect port with cider-jack-in-cljs.
**Issue:** Errors facing while connecting to the port
Logs:
using cider:
[Figwheel] Validating figwheel-main.edn
[Figwheel] figwheel-main.edn is valid \(ツ)/
[Figwheel] Compiling build dev to "target\public\cljs-out\dev-main.js"
[Figwheel] Failed to compile build dev in 0.735 seconds.
[Figwheel:WARNING] Cou

[2019-09-23 17:14] sahabaishakhi commented on #28
After testing the first hypothesis for the above error report of checking out the az-28 branch, the same cider error as one above is appearing, same as the one encountered in the html-synth project.
@azureus89 can you check on your Linux system for the versions of libraries of cider and nrepl used as well as leiningen, so we can pinpoint on the exact reason which is being caused in both the projec

[2019-09-23 20:44] azureus89 commented on #35
@kattakavya this error has been encountered by @sahabaishakhi also ...
for future reference, @ParikshithMohan @VikramShawFL please do not use uppercase letters in clojure file names, and namespaces ... this error is being caused by uppercase in file name

@sahabaishakhi help kavya get past this issue ... all these changes should be merged into master once you are done fixing your issue

[2019-09-23 20:49] azureus89 commented on #28
@sahabaishakhi this core.clj relates to clojure core

this should power your hypothesis ... what could be the reason for this ...

test is not about finding solutions, its about finding the problem ... you are not able to isolate and find the problem ... where is the problem coming from ... arrive at a hypothesis and test for it
a non testable hypothesis isn't worth considering, look for testable

[2019-09-24 06:18] sahabaishakhi commented on #28
@azureus89 core.clj still exists in the master branch, which you had rectified in az-28 branch. should I let it remain in the master branch and focus on the issue instead? since I am working on the remote master branch directly.

[2019-09-24 06:32] azureus89 commented on #28
yes it creeped back in it looks like from parikshiths branch, think he had not synced with master :(
anyway its powerless in the current config and not the source of your errors

[2019-09-24 06:34] sahabaishakhi commented on #28
should I create a branch from master or check out the remote master branch as before and keep working on it?

[2019-09-24 06:37] azureus89 commented on #28
same as before, check out remote ... go ahead and delete core.clj in your branch and proceed from there

[2019-09-24 06:39] sahabaishakhi commented on #28
@azureus89 just to be clear, I need to delete core.clj from the remote master branch? because you said in your branch and to check out remote before..

[2019-09-24 06:43] azureus89 commented on #28
NOOOO ... i will never refer to master as your branch ... delete in your branch that you are creating ... you are asking a question about creating a branch, in that branch bs-28-repl-fix or whatever ... delete core.clj and then proceed, just to rule that out as a source for the error

[2019-09-24 10:42] sahabaishakhi commented on #28
@azureus89 upon trying to check the leiningen version I am obtaining an error -
[code]

[2019-09-24 11:20] kattakavya commented on #35
@sahabaishakhi  I have removed core.clj and renamed trelloui also,though facing an error.
**Shell Error:**
2019-09-24 16:44:23.261:INFO::main: Logging initialized @3629ms to org.eclipse.jetty.util.log.StdErrLog
WARNING: list already refers to: #'clojure.core/list in namespace: xtnt-micro.trelloui, being replaced by: #'xtnt-micro.trelloui/list
Exception in thread "main" Syntax error compiling at (x

[2019-09-24 11:27] sahabaishakhi commented on #35
@kattakavya this is after lein run?

[2019-09-24 11:29] sahabaishakhi commented on #35
are you synced to master?

[2019-09-24 12:13] kattakavya commented on #35
@sahabaishakhi yes,i have synced with master and then ran lein run,same error i was facing

[2019-09-26 08:18] kattakavya commented on #35
@azureus89 I have followed the link https://github.com/binaryage/dirac/blob/master/project.clj and I have added the multiple outputs, I don't know how to switch the  builds,tried with the command switch-to-build.confused with main function,should I write separate "main" for switching the builds?

[2019-09-26 09:56] azureus89 commented on #35
what is the error you are getting ... you have to report an error in the error reporting format

[2019-09-26 10:21] sahabaishakhi commented on #28
@azureus89 you can close this issue. The REPL is working fine now. updating packages on spacemacs worked.

[2019-09-26 10:51] kattakavya commented on #35
**Context:** Trying to add  multiple outputs/targets in project-cljsbuild
**Issue:** while adding multiple targets,facing issue.
**Logs:** Loading c:/Users/welcome/AppData/Roaming/.emacs.d/core/core-load-paths.el (source)...done
Loading c:/Users/welcome/AppData/Roaming/.spacemacs...done
Setting the font...
(Spacemacs) Warning: Cannot find any of the specified fonts (Source Code Pro)! Font settings

[2019-09-27 11:30] kattakavya commented on #35
@azureus89 this is the current issue,which is I'm struck on.

[2019-09-27 12:01] azureus89 commented on #35
@kattakavya cant say i hope it is etc ... what is the hypothesis ... according to the highlight, it seems be bad syntax as you said, in edit the post and add the relevant code section to the highlight ...

[2019-09-27 12:29] kattakavya commented on #35
@azureus89 I have updated the project code under the highlighted part,please find updated comment.

[2019-09-27 12:51] azureus89 commented on #35
yes syntax error will show you on call tonight where the issue is

[2019-10-01 12:37] sahabaishakhi commented on #35
@azureus89 we have a couple of doubts for the migration into clojurescript
->
there is index.html that mentions the cljs-out path to read the js output file, which currently compiles the reagent elements in core.cljs and loads them in the `app` element. Post creating a new cljs file having the trello hiccup elements by using reagent, how do we have defroutes route those elements in the appropriate

[2019-10-01 14:17] azureus89 commented on #35
you need a different html file and route the trello request there, that html file should reference the js ouput file for trello

[2019-10-02 08:53] sahabaishakhi commented on #35
@kattakavya can you checkout my branch and see if you can view the trellopage as well as see a message on the chrome console?
@azureus89 figwheel isn't running properly in my system, and the error is the same as I mentioned on the call, which at the time were for other projects. figwheel for xtnt-micro seemed to be working fine for me, but not anymore. the message that I am getting is
[code]
so th

[2019-10-02 10:11] sahabaishakhi commented on #28
**Context**: Running `cider-jack-in-cljs` gives a prompt to select `figwheel-main` but doesn't go to the next step of :dev and instead throws a timeout error. Toggled on the debugger after to have a backtrace appear.
**Issue** : time-out issue with nrepl
**Logs**:
[code]
Backtrace -
[code]

**Highlights**:
-> After updating packages on emacs, the previous issue with running cider repl got resolved

[2019-10-02 11:27] sahabaishakhi commented on #35
@kattakavya I am able to view the trello page, just need you to tell me if you can see the console and read the message. if yes, you can start on the hiccup function rendering using reagent one by one (see my branch for reference - I have commented out the hiccup elements and component rendering related functions).
Do not edit my branch, work on yours. since I will not be able to close this issue

[2019-10-02 12:07] azureus89 commented on #35
@sahabaishakhi looking into #28 .. based on the latest comment .. is #28 still an issue though?

[2019-10-02 12:30] sahabaishakhi commented on #35
@azureus89 yes it is. it worked fine for me earlier in the micro project but now it doesn't.

[2019-10-02 13:10] kattakavya commented on #35
@sahabaishakhi I can view the page in web but in console facing an error
![image](https://user-images.githubusercontent.com/46553145/66046517-906ad200-e543-11e9-8cef-2fc8a932d1c9.png)
and in core.cljs
**code**
132.(trlo-rgnt/mount-app-element)
because of this line facing an error in cider,I have commented that now my cider is running fine.

[2019-10-02 21:24] sahabaishakhi commented on #35
@kattakavya delete line numbers 7-9 in trello.html

[2019-10-02 21:27] sahabaishakhi commented on #35
also, create a file in cljs-out folder `dev-trello.js`

[2019-10-02 21:32] sahabaishakhi commented on #28
@azureus89 the figwheel repl is working for me again having done nothing to change config.

[2019-10-02 21:47] sahabaishakhi commented on #35
@azureus89 How does one provide the necessary information in project.clj to have more than one cljs/js files for a project inside the dependencies being in `cljsbuild` and `uberjar`
[code]
[code]
for cljs file to be compiled namely `trelloui.cljs` and the output js file being `dev-trello.js`?

[2019-10-03 08:47] kattakavya commented on #35
@sahabaishakhi I have deleted the code lines from html file as you said and created the js file under cljs-out and added the same content in js file. previously there were 2 errors,after adding trello.js file goog error got resolved ,now facing with one error in console

![image](https://user-images.githubusercontent.com/46553145/66112228-1b050d00-e5e8-11e9-9740-b96ef6db00ca.png)

[2019-10-03 09:01] sahabaishakhi commented on #35
expected, because the `trelloui.cljs` file is not getting run. it has to be configured somehow inside `project.clj` and connecting it to its corresponding js file `trello.js` where the cljs code is compiled and logged onto the console of the trello URL

[2019-10-03 09:16] azureus89 commented on #35
uberjar not important for the moment ... and thats actually what you need to find out ... how to have two builds ... there are a bunch of links i've found, its possible, you need to narrow down to the right approach and execute it

the one kavya found was a complicated one that made sense only if you have a large number of builds ( more than 50 ) to compile at one go

[2019-10-03 09:17] azureus89 commented on #35
you dont create this file ... the compiler creates it for you ... configuration in project.clj is the main problem to solve, the rest is like any other cljs project

[2019-10-03 23:54] sahabaishakhi commented on #35
I tried an approach from a particular link to add the builds in an array format, but it yields the same error i.e `Failed to load resource: the server responded with a status of 404 (Not Found)`. Also checked to see if absolute paths inside the newly created html file's script tags was provided correctly. I tried to provide path relative to both the target/public and resources/public but the same

[2019-10-04 18:09] sahabaishakhi commented on #35
Another way that I tried to add builds is by referring to `Multiple Build Configurations` of the lein cljsbuild documentation where source-paths is typed in a different format (ex - src-cljs-main) which I haven't seen before. this also doesn't include the `:main` attribute of `core` either. but the same error of `Failed to load resource: the server responded with a status of 404 (Not Found)` occur

[2019-10-08 15:46] sahabaishakhi commented on #35
I made the hiccup elements work using reagent, except having put a default width which was done in hiccup using inline styling. Should I send a pull request or should this branch remain as it is, since you're working on the master branch and need us to fork?

[2019-10-08 19:10] sahabaishakhi commented on #35
**Context**: I tried to find the alternative to inline styling and setting width of a div element by using javascript/clojurescript. I am facing an issue with writing the clojurescript syntax for `document.getElementsByClassName("list").style.width = "1px"`
I tried the following so far -
`(set! (.-width (.-style (. js/document getElementsByClassName "lists"))) (str (board-width) "px"))`
and
`(set!

[2019-10-11 06:44] azureus89 commented on #38
@ParikshithMohan did you try responsive?

[2019-10-11 06:45] ParikshithMohan commented on #38
No, I didn't.

[2019-10-11 06:48] azureus89 commented on #38
@sammed14 take this forward and do responsive ... @ParikshithMohan help sammed understand how the whole thing is organised -- how clojure templating works

[2019-10-11 06:56] azureus89 commented on #38
@sammed14 any permission issues on this repo, let me know

[2019-10-14 09:12] azureus89 commented on #35
@sahabaishakhi @kattakavya ... there is no running cljs here, this has been completely messed up ... i am deleting your branch on origin ...  i suggest you delete your local branches too, not going to accept any pull request from bs-35 ... it is a total mess

[2019-10-14 09:15] azureus89 commented on #35
## Restarting Issue from scratch
### Task Outline
@kattakavya @sahabaishakhi clojurescript files compile to javascript files in the out folder ...
you need to
a) have a blank html page with js pointing to the js output file. make sure css used is the same as the ones in parikshiths clj file
b) create a route in handler/core so you can see your new page
c) make the functions used in the clj file wo

[2019-10-14 09:17] azureus89 commented on #35
## Preliminary work
a) create branch, assign roles, decide who is doing what
b) clarify any questions regarding issue
c) run clj and see if it works, report any issues

@ParikshithMohan if issues reported in c) - like ui etc ... then you need to figure out whats going wrong .. css isn't cross browser/OS by default, things do go wrong ...

[2019-10-15 17:20] azureus89 commented on #35
`;; Main clojurescript configuration file - project.cljs
;; Configuration of clojure dependencies and compilation targets
;; Plugin used to auto-compile clojurescript code to javascript called cljs-build
;; Beyond basic compiler support, Lein-cljsbuild has built-in support for launching clojurescript REPLs
;; -> lein trampoline cljsbuild-repl-rhino
;; lein cljsbuild auto command watches for change

[2019-10-17 21:39] #35 closed, assigned to nobody

[2019-10-18 10:24] sahabaishakhi opened #43 "Documentation - Multiple builds"

[2019-10-18 10:25] azureus89 opened #44 "Migrate discord from clj to cljs"
@kattakavya New build for discord, just like trello
once @ParikshithMohan is done with his documentation and I pull the discord ui clojure code

[2019-10-18 10:25] azureus89 commented on #44
also once @sahabaishakhi is done with documentation

[2019-10-21 09:16] azureus89 commented on #43
@sahabaishakhi keeping this open until kavya successfully migrates the discordui

[2019-10-21 09:16] azureus89 commented on #32
closing this, not required any more

[2019-10-21 09:16] #32 closed, assigned to kattakavya

[2019-10-21 09:16] azureus89 commented on #3
closing this, moving to a different db stack

[2019-10-21 09:16] #3 closed, assigned to nobody

[2019-10-21 09:17] #6 closed, assigned to nobody

[2019-10-21 09:17] azureus89 commented on #7
closing this, falls under xtnt-auth now

[2019-10-21 09:17] #7 closed, assigned to nobody

[2019-10-21 09:18] azureus89 commented on #9
closing this, no migration required, going straight to xtnt-auth

[2019-10-21 09:18] #9 closed, assigned to nobody

[2019-10-21 09:21] azureus89 commented on #8
@sahabaishakhi your new issue ...
look at the dev build (standard chat page)
and formulate a strategy based on your understanding from that build on how to make the discord chat page work ... it is right now just a static template
lets discuss this strategy today/tomorrow, and then proceed with the code

you can ignore the need for any userid / authentication ... we can discuss a stopgap for that

[2019-10-21 09:22] azureus89 commented on #44
@kattakavya you can start with this now ... @ParikshithMohan @sahabaishakhi both of your documentation will be put to test

[2019-10-21 09:23] azureus89 commented on #44
be available to help out, and if gaps in documentation are exposed, make the changes locally, in whatever branch you are working on, no need for separate documentation branch for this

[2019-10-21 09:23] #17 closed, assigned to nobody

[2019-10-21 09:24] #18 closed, assigned to nobody

[2019-10-21 09:25] azureus89 commented on #16
this is closed for now ... will tackle specific implementations in separate issues

[2019-10-21 09:25] #16 closed, assigned to nobody

[2019-10-21 09:27] azureus89 commented on #28
@sahabaishakhi can i close this, and is there any need to bring some of the learning into the documentation --- minimum versions, update packages etc ?
you can address this as part of your regular feature branch, no need for new one ...
confirm once done to close this issue

@kattakavya @ParikshithMohan @VikramShawFL please confirm that with the latest version of the project you are not facing any

[2019-10-21 09:28] #29 closed, assigned to kattakavya

[2019-10-21 09:28] #30 closed, assigned to kattakavya

[2019-10-21 09:32] ParikshithMohan commented on #28
No, I'm not facing any problem.

[2019-10-21 09:32] azureus89 opened #46 "KTNE web version - 3 simple modules"
@Mazumda finalise 3 modules
draw and share the diagram here

@ParikshithMohan from your side, start with ideas for 3 modules -- keeping it simple for the mobile/web version of KTNE

it will not have a bomb theme, that is scaring away corporates, we will build it so that it can be skinned for various themes, so very functional abstract basic build ... objects will all be SVG and reactive/reagent dr

[2019-10-21 09:48] sahabaishakhi commented on #28
I will include documentation inside the feature branch of my issue for minimum versions for nrepl, cider/piggieback and leiningen and instruction for updating instructions to update packages on emacs. @kattakavya @VikramShawFL please comment here whether or not the master branch is working fine without any issues. This issue can be closed.

[2019-10-21 09:56] kattakavya commented on #28
@sahabaishakhi Working fine for me without any issue.

[2019-10-21 10:39] azureus89 commented on #46
@Mazumda @ParikshithMohan soon

[2019-10-21 10:47] ParikshithMohan commented on #46
I was thinking of one of those psychology games that Aarjavi showed me. Where the color displayed and the color written in words is different. We need to memorize the color thats written in words. This can be combined with a Simon-says like gameplay.

[2019-10-21 10:49] ParikshithMohan commented on #46
Something like this : https://www.youtube.com/watch?v=OrMjwvcoeJY

[2019-10-21 10:54] Mazumda commented on #46
am trying to dig out a milanote board gimme 5 min

[2019-10-21 10:55] ParikshithMohan commented on #46
This game is brilliant too:  https://www.gamesforthebrain.com/game/guesscolors/

[2019-10-21 10:55] Mazumda commented on #46
https://app.milanote.com/1I8G1a1JDCTP6V

[2019-10-21 10:55] Mazumda commented on #46
i wanted to keep the modules mathematical, given that most workspaces have quant based ppl

[2019-10-21 11:01] ParikshithMohan commented on #46
But is everybody good at math (or like math)? Some people are good at puzzles and problem solving too (and find it enjoyable even if its tricky).

[2019-10-21 11:01] Mazumda commented on #46
i wanted some general rules

Each  module will have its own serial Number
Each  Module will have its own sub  timer
Timer can be stopped for 10 seconds upto 5 times to strategize
Unlimited Strikes

[2019-10-21 11:02] Mazumda commented on #46
there will be brownie points to have the least execution time, for each module.

[2019-10-21 11:02] Mazumda commented on #46
i want to promote think more and execute less.

[2019-10-21 11:07] azureus89 commented on #46
will fork xtnt-micro to a new repo just for the game by EOD, just finish the discussion here, development will be on a new repo and bot updates will go to forge channel, for now too much reconfiguration for no added benefit while this discussion finishes

all dev work will be on that new repo

[2019-10-21 11:08] azureus89 commented on #28
@VikramShawFL confirm from your end to close this issue ...

[2019-10-21 11:16] azureus89 opened #47 "Example authentication flow demo build"
@VikramShawFL add an example build in xtnt-micro - cljs
where when you have the auth service running on local machine
you can sign up, sign in ... no need for sign out yet
this is not a demo: http://randomlurker.eu/clojurescript/re-frame/2017/05/22/re-frame-auth0-authentication.html

sharing because i will refer to a few implementation details in there

first, are we doing JWS or JWE?

[2019-10-21 11:47] Mazumda commented on #46
General Rules
The puzzle board is made up of multiple modules, the main board  has a sequence number and each module has its own sequence number. These 2 sequence numbers have to be matched in different ways specific to the module rule
Module serial numbers will digitally open into the manual ( taking out time required to call out module names etc)
 Each module has its own timer, however the modul

[2019-10-21 11:50] Mazumda commented on #46
of the 3 modules, there should be one that is asynchronous and independent. stuff that you can explain and ppl will pick up on their own, Wires are an example of this. there should be one that is sychronous where 2 ppl need to actively solve,  i would go with  2 asynchronous and one synchronous module.

[2019-10-21 11:51] Mazumda commented on #46
or maybe one semi synchronous, where the mistake count or a dynamic piece of information may or maynot change the rules, this is the case with simon says

[2019-10-21 12:25] Mazumda commented on #46
parikshith to your fun comment, i was thinking of collaborating to replicate a drawing.

[2019-10-21 12:27] Mazumda commented on #46
assume that its on a grid with co-ordinate positions available

[2019-10-21 12:28] Mazumda commented on #46
and the challenge is to communicate the pattern, there are a fixed set of hints that one can use from a pool of hints.

[2019-10-21 12:29] Mazumda commented on #46
or a fixed set of patterns that needed to be added or subtracted to arrive at the derived pattern

[2019-10-21 12:30] azureus89 commented on #46
@Mazumda my friend, pleaset try to collapse comments into one, instead of chat style, more like mail thread

[2019-10-21 14:05] VikramShawFL commented on #28
Yes both the repl is working fine for me.

[2019-10-21 14:18] azureus89 commented on #28
@224-1/product thanks, closing issue

[2019-10-21 14:18] #28 closed, assigned to azureus89, VikramShawFL

[2019-10-21 14:20] azureus89 commented on #38
@sammed14 confirm ready to pick this up from 25th
will detail improvements required in this thread

[2019-10-21 15:38] Mazumda commented on #46
https://app.milanote.com/1I8sIN1JDCTP6P

added everything into the milanote, have a set of general rules that apply across modules and a set of samples

[2019-10-21 15:41] sahabaishakhi commented on #8
@azureus89 do I have to wait for @kattakavya to finish her static discordUI template? should the discord chat be similar to the already existing main chat page?

[2019-10-21 17:09] azureus89 commented on #8
yes coding will have to wait for her to migrate, but I need you to formulate a strategy and understanding of how to make it work first ... based on the already working chat example ... but some things will jhave to change ... that needs to be discussed and done as soon as possible ... kavyas code should be ready in time for that to happen

[2019-10-21 17:26] kattakavya commented on #44
**Context:** Migration from clj to cljs, able to create multiple builds
**Issue:** Not able to render the two functions at a time.
**Logs:** no errors found in repl and console.
![image](https://user-images.githubusercontent.com/46553145/67227171-53b03d80-f454-11e9-8c1e-dc6cef92f9b8.png)

when I given single function,it is able to render.
![image](https://user-images.githubusercontent.com/46553145

[2019-10-22 06:14] sahabaishakhi commented on #44
@kattakavya you seem to have replaced all of the underscores with dashes but didn't do so in the css file. so do that and also do the same in clj file of @ParikshithMohan

[2019-10-22 07:01] VikramShawFL commented on #47
We need to use JWS for signed token if we want to implement an authentication system.

[2019-10-22 07:26] VikramShawFL commented on #47
Can you send me a demo link to implement sign up and sign in function.
Also in xtnt-micro, do I need to implement all the function whatever I did in xtnt-auth project.

[2019-10-22 10:16] azureus89 commented on #47
dont have a demo link, we have to do it ourselves

first step form for signup with username password
you can create using the css framework in place @ParikshithMohan can run you through it
create a function to write that into db etc ... like with the demo username/password in the current auth framework

so in cljs
1. create form (@ParikshithMohan can show you framework)
2. create function to submi

[2019-10-22 10:29] azureus89 commented on #44
@kattakavya resolved?

[2019-10-22 10:57] kattakavya commented on #44
@azureus89 No, @ParikshithMohan  have been calling function inside a function,those functions are not getting rendered,if I write separate function i can able to execute it.
**for example**: In code, the function container-2  is defined there he have been calling the child functions
 (container-2-head)
(channel-list)
(container-2-footer)
if I render only container-2 function it is not executing
**

[2019-10-22 11:00] azureus89 commented on #44
@kattakavya that is expected behaviour
you have to replicate all the elements

calling functions inside functions is the advantage of writing code in a functional language
it maybe unusual for front end code to work that way, but that's what we are trying to do differently
it is very vital part of clojurescript and more specifically react / reactive coding

[2019-10-22 11:03] azureus89 commented on #44
@kattakavya wait I didnt understand what you are saying I think

[2019-10-22 11:09] kattakavya commented on #44
@azureus89 It is advantage of writing function inside the function true, coming to clojure script the syntax would be different for writing function inside function i think..so trying to find out the syntax for writing it.

[2019-10-22 11:11] azureus89 commented on #44
yes .. issue seems to be around the use of the img tag in one of the functions
looks like something is being nested inside an img tag somewhere
whether typo or something parikshith did, and was okay in html, but not something react appreciates

[2019-10-22 11:16] azureus89 commented on #44
understood what you were saying now ... the second error also should have preseneted in the format discussed ... it helps avoid confusion ... in general also what you could have done better is come up with a hypothesis ... in the first case it was hard and needed more experimentation .. but finally when you produced errors, you could have come up with a hypothesis better ... the error says its abo

[2019-10-22 11:18] azureus89 commented on #44
from the error I can also make out that in your split function where you are calling the functions individually instead of calling container-2 ... you are not calling channel-list ...
if you call channel list does it throw up error, is that why it is left out?

[2019-10-22 11:22] azureus89 commented on #44
show me dev console when channel-list is included in the calls, if it throws and error, then the error is wrongly reported -- it is not because of anything to do with nesting function calls / calling syntax ... it is because of channel-list

i want you to report in the error format prescribed because it is a common mistake to jump to conclusions and hypothesis ... force yourself to have all the da

[2019-10-22 11:25] azureus89 commented on #44
syntax for calling functions is not different ... you have gone down the wrong road because of what I described above ... dont jump to conclusions without enough testing ...

what is different is : react does not allow img tags to have children - in parikshiths code there was no react ... its not a clojure/clojurescrtipt/syntax/function calling problem

[2019-10-22 13:37] kattakavya commented on #44
Context: migration from clj-cljs discord-ui
Issue: Error causing while i include channel-list
Logs in repl:
[Figwheel:WARNING] Compile Warning   src\cljs\xtnt_micro\discordui.cljs   line:222  column:4
 Wrong number of args (0) passed to xtnt-micro.discordui/channel-list
  217  (defn discord-ui []
  218    [:div
  219     (container-1)
  220     (container-2-head)
  221     (container-2-footer)
  2

[2019-10-22 14:11] azureus89 commented on #44
just change img tag to div ... img tag cant have children

[2019-10-22 14:51] kattakavya commented on #44
@azureus89 changed to div tag,

**code**
(defn channel-list [arg]
  (let [current (-> @state :server (@active-server) arg)]
    (map #(identity [:div.c2-rooms
                     [:div#channel-logo [:img {:src (:logo current)}
                                         [:ul [:li (val %)]]]]
                     [:br]]) (-> current :list))))
**Error**
Wrong number of args (0) passed to xtnt-micro.di

[2019-10-22 15:25] azureus89 commented on #44
@kattakavya channel-list is called with an arg ... please check original code

[2019-10-22 15:27] azureus89 commented on #44
this is an expected error when you are calling without argument
img tag to div tag is not related to this but previous error

try to run container-2 now instead of this list
check container-2 to see how channel-list is being called, its quite clear

[2019-10-22 15:34] ParikshithMohan commented on #44
@kattakavya U sure u want to use container-2-head and container-2-footer in the main function?...because those two are already used inside container-2...so container-2 alone can be used instead of two extra functions.

channel-list requires an argument to be passed...preferably from the atom....something like this - (channel-list :rooms)

[2019-10-22 21:43] azureus89 commented on #46
If generic rules then can make independent form KTNE -- business objectives, pitfalls, goals -- so that for future background of playing KTNE is not there -- generalise this into our game design principles

[2019-10-23 07:38] kattakavya commented on #44
@azureus89 container-2 is displaying without errors but styling got changed it is not same like in clj,why excatly?
![image](https://user-images.githubusercontent.com/46553145/67368883-b3fac880-f595-11e9-8baa-1d51a6390889.png)
should i go-head and change the css-styling

[2019-10-23 10:58] azureus89 commented on #44
source of the issue is the nesting of things inside an img tag -- img tags aren't meant for that ... thats a change that needs to be done ..

[2019-10-23 11:00] azureus89 commented on #44
please show code also
because this is wrong:
`(defn channel-list [arg]
(let [current (-> @State :server (@active-server) arg)]
(map #(identity [:div.c2-rooms
[:div#channel-logo [:img {:src (:logo current)}
[:ul [:li (val %)]]]]
[:br]]) (-> current :list))))`

[2019-10-23 11:10] kattakavya commented on #44
@azureus89

**code:**
(defn channel-list [arg]
  (let [current (-> @state :server (@active-server) arg)]
    (map #(identity [:div.c2-rooms
                     [:div#channel-logo [:img {:src (:logo current)}]
                                         [:ul [:li (val %)]]
                     [:br]]]) (-> current :list))))

I'm calling container-2 itself as single function.

(defn discord-ui []
  [:

[2019-10-23 15:58] azureus89 commented on #44
yes, with this styling you will have to change the css
@ParikshithMohan you have to make this change locally on your clojure branch and push the css to make it work
please do that and send PR -- need to merge to master asap
kavya will inherit the styles

[2019-10-23 20:00] sahabaishakhi commented on #8
@azureus89 it's unclear what is meant by the current chat page being static. need to understand the difference between what needs to be implemented and our current use case of clients being able to send messages to the webserver and messages being read from the websocket..

[2019-10-24 09:43] azureus89 commented on #8
the discord page is simply a template - it is not connected to the websocket server -- it is not a working app. The boilerplate chat app (dev build) is a working app. It sends and recieves messages from the server.
How do you take a template and turn it into an app.
Turn a static page into a working app.

[2019-10-24 11:44] kattakavya commented on #44
**Context:** migration from clj-cljs discord-ui
**Issue:** In container-3 we have P tag which has styling property,i think because of that and because of string, container-3 is not executing.
**Logs:** No errors found in repl. Errors in console,
The above error occurred in the <p> component:
    in p (created by xtnt_micro.discordui.discord_ui)
    in div (created by xtnt_micro.discordui.discord_u

[2019-10-24 17:04] azureus89 commented on #47
@VikramShawFL any progress?

[2019-10-24 17:26] sahabaishakhi commented on #8
Points for making discord page work using websockets:
1) start with having one 'interaction room' (such as dev-support) be the main-channel. we can use chord library's with-channel macro along with core async upon connecting via a client to the websocket endpoint.
2) all users/clients connected can have a tap to the main-channel. all messages from any client's websocket endpoint can be written int

[2019-10-25 05:37] VikramShawFL commented on #47
Sign-up page is ready, just a minor doubt need to clear with @sahabaishakhi once she come online.
Connecting H2 database with the xtnt-micro project

[2019-10-25 08:39] azureus89 commented on #47
dont connect h2 with xtnt-micro ... auth server needs to run separately, dont want to integrate auth server into xtnt-micro ...

need to run auth server separately on your system, and xtnt micro both side by side ... with your page from micro contacting the auth server with authentication requests

[2019-10-25 08:47] ParikshithMohan commented on #44
**After adding the div tag:**
![image](https://user-images.githubusercontent.com/24820582/67557117-1092ea80-f732-11e9-93b6-97c884bd7150.png)

Changes made in both clj and css...

[2019-10-25 08:52] azureus89 commented on #8
lets start with 1.
on your feature branch -- why dont you first take the dev build chat app and verify your theory of how channels and with-channel work ... what do websocket channels do exactly basically.

2. -> this is fine, except when you launch it as an "app" and you have multiple users/ accounts/chat rooms -- not just interaction channels ... say our organisations chat and another organisati

[2019-10-25 08:54] azureus89 commented on #44
@ParikshithMohan thanks .. @kattakavya
1) clj and css working with the img tag bug fixed
2) any progress on inline-styling syntax? from your error looks like syntax for inline styling is wrong -- it says expecting a map not a string

[2019-10-25 09:27] sahabaishakhi commented on #44
@kattakavya I guess I need to add documentation for reagent inline styling, it doesn't take in attributes within attributes by providing them in quotes. instead you need to use nested hashmaps.
for ex - in clj/hiccup file it must've been implemented in this manner - `[:div.a {:style "width:40px"}]`
whereas in cljs/reagent it should look like - `[:div.a {:style {:width "40px"}}]`

[2019-10-25 17:05] kattakavya commented on #44
**Context:** migration from clj to cljs
**Issue:**  Facing issue with the color and with the p tag
**Logs**: no errors in the repl,errors found in the console
react-dom.inc.js:526 Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>.
    in div (created by xtnt_micro.discordui.discord_ui)
    in p (created by xtnt_micro.discordui.discord_ui)
    in div (created by xtnt_micr

[2019-10-25 17:40] ParikshithMohan commented on #44
@kattakavya Try putting `{str "color:" (rand-nth (-> @State :color))";"}` inside a separate function and then calling that function in :style. Maybe the colors are not showing up because they were inside the state and not css or hiccup.

[2019-10-26 11:13] azureus89 commented on #44
come on guys @ParikshithMohan @kattakavya , this is silly think about this ... just because its clojursecript you think its something complicated ...
` {str "color:" (rand-nth (-> @State :color))";"}`

look at this expression ... this is obviously going to give you an error
this is supposed to be a map ... this is a very basic and silly mistake you are making ... dont know what the solution is, bu

[2019-10-26 11:16] azureus89 commented on #44
@kattakavya one error at a time

[2019-10-26 15:18] kattakavya commented on #44
@azureus89
![image](https://user-images.githubusercontent.com/46553145/67621866-a5304200-f831-11e9-84fe-2f1f706ae8cc.png)
now all attributes added,i think its matter of styling..i will be working on it.

[2019-10-26 19:24] azureus89 commented on #44
@kattakavya okay good, next focus only on the left side bar ...
is your feature branch at latest?

[2019-10-28 15:41] kattakavya commented on #44
@azureus89 facing a problem to fix styling part for container-4
![image](https://user-images.githubusercontent.com/46553145/67693152-41d81880-f9c7-11e9-8ff4-edf61f5f9abf.png)

No,facing merge conflict,
![image](https://user-images.githubusercontent.com/46553145/67693262-6fbd5d00-f9c7-11e9-96af-ae7f7f2389ad.png)

[2019-10-28 16:57] azureus89 commented on #44
@kattakavya doesnt look like merge conflict ... just the last commit on master is called "merge pull request ..."
pull from master to your branch (magit: F u) ... if theres a conflict it will give you an error message ...
if no conflict, go ahead and push to your feature branch ...
do that, then i can see the code, and help you out with the container-4 issue

[2019-10-30 09:33] azureus89 commented on #46
What's next here .. @Mazumda you had planned for documentation in 3 stages .. Parikshith had sent stage 1 and had approved .. move through next 2 stages as you had planned soon .. we should try to start work by Friday .. agree on modules and principles by then .. and I will make choice of graphic library or lack of it accordingly and work will commence on new repo Friday .. please progress

[2019-10-30 09:42] Mazumda opened #51 "4 new Asynchronous module ideas"
a. List out 4 new module ideas
b. List out 4 variants of each of the above
c. Detail out the manual equivalent algorithm

[2019-10-30 09:57] #51 closed, assigned to nobody

[2019-10-30 09:57] Mazumda commented on #51
wrong issue closing for now

[2019-10-30 10:08] Mazumda opened #52 "KTNE - Part 1 Design Principles"
List out the high level rules that the game will work on

[2019-10-30 10:09] Mazumda opened #53 "KTNE - Part 2 - List out the Data metrics that we need"
List out the KPI's that we need to capture independent of module

[2019-10-30 10:11] Mazumda opened #54 "KTNE - Part 3 - List of Module Ideas that align on the Data metrics Identified"

[2019-10-30 10:43] ParikshithMohan commented on #53
docs added...needs aproval

[2019-10-30 10:43] ParikshithMohan commented on #52
docs added...needs aproval

[2019-10-30 14:50] #54 closed, assigned to nobody

[2019-10-30 14:51] azureus89 commented on #53
@Mazumda please stop messing with this
@ParikshithMohan please dont close PR and merge into master yourself

[2019-10-30 14:51] #53 closed, assigned to nobody

[2019-10-30 14:51] #52 closed, assigned to nobody

[2019-10-30 14:53] azureus89 commented on #46
@ParikshithMohan sorry for the complication
this is the ONLY branch for this issue ... we will not be creating an new issue for part 1 / part 2 / part 3

the mistake here was that all the issue modification happened in chat, not here, this was my mistake, it wont happen again

the new expectations etc will be added here

[2019-10-30 14:58] azureus89 commented on #46
@ParikshithMohan I had left the original PR open for you to complete all the documentation required in pk-46 ... submit commits, get commit level approval and then close PR when the whole issue is done ... @Mazumda is not familiar with this, you've done this before .... his role on this issue is restricted to helping you get on the same page as him, and understand the business interests of the gam

[2019-10-30 14:59] azureus89 commented on #44
@sahabaishakhi have merged into master, can you check this, and if all working can move you and kavya to next issue and close this one

[2019-10-30 15:10] azureus89 commented on #46
@Mazumda everything to do with finishing this issue and finalising 3 simple modules comes here ... when original plan changes, that is also captured here, in this issue
parikshith has a branch where all the code for dealing with this issue goes ... that branch has a pull request which i will close when the whole issue is completed, or occassionally when somebody else needs a part of the code in or

[2019-10-30 15:12] azureus89 commented on #44
yes plaese add ... all these issues are opportunities to improve and compact internal documentation

[2019-10-30 17:25] sahabaishakhi commented on #44
@azureus89 it's working for me

[2019-10-30 17:46] #44 closed, assigned to kattakavya

[2019-10-30 17:46] #43 closed, assigned to nobody

[2019-10-30 17:46] azureus89 commented on #38
@sammed14 whenever you are ready

[2019-10-30 17:47] azureus89 commented on #8
@sahabaishakhi when can we get started? ... @kattakavya will be joining you on this, but you are leading and deciding on task split

[2019-10-30 18:44] sahabaishakhi commented on #8
@azureus89 I am clearing some of my understandings from the existing chat demo with @VikramShawFL but for the most part it's clear so we can proceed further.. we can start with having one interaction room for an organization working.

[2019-10-31 11:04] kattakavya commented on #8
@sahabaishakhi can you explain me the task details,on which I should work on

[2019-10-31 11:14] sahabaishakhi commented on #8
@kattakavya for now go through the documentation in the project for websockets and core async and understand how the current chat application works.

[2019-11-01 09:15] azureus89 commented on #8
@sahabaishakhi whats next? when?

[2019-11-01 09:31] sahabaishakhi commented on #8
@azureus89 we can start now. can we have the dev-support channel working? its working would be the same as the current chat application..

[2019-11-01 14:19] azureus89 commented on #46
Discussion about modules here or in the commit thread

[2019-11-01 19:49] azureus89 commented on #46
moving this discussion here, because it seems unrelated to commit thread about priority on data metrics .. lot of these seem like good to haves not urgent priorities to get the game going by nov 15th

im going through what you are saying, and just seeing if im capturing enough for us to pull these views on the data later - either to build features or analytics on top of  ... seems okay because we

[2019-11-02 09:02] azureus89 opened #59 "Simple message passing cljs implementation"
@sahabaishakhi needed with documentation so that @kattakavya and @ParikshithMohan can build simple games on top of it
please do this on priority, can move back to discord after that

[2019-11-02 09:03] azureus89 commented on #59
include kavya as you do it, will help you understand what needs to be documented and explained better --- urgent / high priority issue to make up for lost time in the previous week

[2019-11-02 09:20] azureus89 commented on #46
@Mazumda @ParikshithMohan updated single reference doc - easy for humans to read here on my branch https://github.com/224-1/xtnt-micro/blob/az-46-updated-data-metrics/doc/forge/ktne/design-principles.org

@ParikshithMohan submitted PR, please merge when you can, unless you want to rewrite
and please work with @Mazumda to highlight priority metrics in the Data in Forge games section

ASAP

Edited t

[2019-11-02 13:28] ParikshithMohan commented on #46
**Module-1**
MAZE
The handler is presented with a maze similar to ktne (just dots, no obstructions). But here there are only two symbols - red and green. The catch is that the symbols look different and its the job of the handler to describe exactly what the symbols look like, to the defuser. The defuser has six different mazes with different red and green symbols. Based on the information given b

[2019-11-02 14:29] ParikshithMohan commented on #46
**Module-2**
**Objective:** To crack the code using alphabets and symbols.
**Handler:** The handler's screen has 3 elements. There is a row of 8 boxes with numbers between the range 1 to 26, written inside them. There is another set of eight boxes that are empty. The handler has to type in letters to crack the code. The third element is a pinwheel, which has eight symbols in it. This pinwheel rota

[2019-11-02 15:46] ParikshithMohan commented on #46
**Module 3**
MORSE CODE
Same as ktne morse code but much more simple. The handler is presented with 3 bulbs (yellow, blue, green), a frequency meter and a button. The yellow bulb gives out dots and dashes, the blue bulb blinks to denote the end of a word and the green bulb shows if the module has been cleared.
The handler has to note down the dots & dashes and has to report it to the defuser. The

[2019-11-02 17:03] azureus89 commented on #46
going ahead with above 3 modules as first 3 simple modules, closing issue

[2019-11-02 17:03] #46 closed, assigned to ParikshithMohan, Mazumda

[2019-11-02 17:03] azureus89 commented on #38
@sammed14 *yawn*

[2019-11-06 16:59] sahabaishakhi commented on #59
@azureus89 the state atom remains empty upon passing it messages through the input box. I am not getting any errors just unable to see the atom getting updated. I am trying to figure out the hypothesis to be able to view the messages. I see a successful websocket connection on the console. I might need help, can we get on a call?

[2019-11-06 18:22] azureus89 commented on #59
@sahabaishakhi tomorrow noon?
meanwhile post report in the format id shared ... all relevant snippets, even if no errors

[2019-11-07 00:08] sahabaishakhi commented on #59
**Context**: facing an error after running cider-jack-in-cljs
**Issue**: The error is referring to the go blocks to pass message from client to server and receiving for server in the clourescript file regarding issues being faced for put and take
**Logs**:
Uncaught Error: ```
No protocol method WritePort.put! defined for type null:
    at cljs$core$missing_protocol (core.cljs:316)
    at cljs$core

[2019-11-08 09:19] kattakavya commented on #8
@azureus89  and @sahabaishakhi can you give a summary of the issue and what should i perform?

[2019-11-08 19:55] azureus89 commented on #38
@kattakavya use this issue ... make ui rseponsive

[2019-11-16 00:28] azureus89 commented on #59
If az-59 PR is good and merged, the next set of tasks are to:
- Implement CLJS example to show how to interact with websocket using cljs
- Documentation for creating CLJS apps as above
- Documentation for how current server-side handler works
- Example of how to extend and create custom event dispatch handlers besides broadcast and echo

[2019-11-19 15:19] azureus89 commented on #59
@sahabaishakhi saw you merged my branch in ... good, assume you've understood how everything works ... but more importantly time to progress on above points ... please update on progress and target date for closing above tasks and this issue

[2019-11-19 22:17] sahabaishakhi commented on #59
@azureus89 I am currently trying to implement cljs and websockets using haslett library. I am targeting by tomorrow afternoon for task 1 and task 3 i.e documentation for how current server-side handler working by the eod and then will proceed on documentation for message passing using the haslett library. aiming to close this issue by thursday max. I need explanation for creation of custom event d

[2019-11-20 13:03] sahabaishakhi commented on #59
@azureus89 the weavejester/haslett library doesn't have support for clojure, in the way of how in chord.client we could use `ws-ch` inside the handler function using `with-channel`. haslett lets us read from and write into core async channels from the client side but documentation doesn't show how to pass a message into the same channel from the server.
I tried removing the websocket route from de

[2019-11-20 19:13] azureus89 commented on #59
haslett is a clojurescript library ... we dont need it on the server side ... server side is done as of now on my branch. You only need to implement the client side to show as an example - and keep it as simple as possible

why are you working on the server side?

[2019-11-20 19:15] azureus89 commented on #59
note tasks:
- Implement CLJS example to show how to interact with websocket using cljs
- Documentation for creating CLJS apps as above
- Documentation for how current server-side handler works
- Example of how to extend and create custom event dispatch handlers besides broadcast and echo

any confusion or ambiguity ask before starting

[2019-11-20 19:26] sahabaishakhi commented on #59
my understanding was that simple message passing entailed sending and receiving. the client side form hastlett is responsible from sending and printing on the console the message received from the client via the same function. The server side code which is already implemented is done using http-kit's functions but I am not sure how to integrate the two.
If I had to only implement the client side,

[2019-11-22 08:47] azureus89 commented on #59
You need to send and receive messages from the client in clojurescript .. the rest is fine .. if not Haslett .. find something else .. but send and recieve messages from clojurescript .. avoid chord as it has version conflicts and is not actively maintained, was the source of our problrms

[2019-11-28 07:51] VikramShawFL commented on #47
**Context:** CORS error
**Issue:** The error is referring to the line number 36 to 38
![image](https://user-images.githubusercontent.com/46559614/69787131-db226680-11e1-11ea-8e2e-93958aa4f0e3.png)
**Logs**
![image](https://user-images.githubusercontent.com/46559614/69787183-f8efcb80-11e1-11ea-81e2-369aaad05401.png)

[2019-11-28 10:31] azureus89 commented on #47
on the auth server - wrap the route handler with cors middleware like this:
https://github.com/jumblerg/ring-cors

[2019-11-28 10:32] azureus89 commented on #47
it looks like this is the more popular middleware for CORS:
https://github.com/r0man/ring-cors

check and choose

[2019-11-28 10:35] VikramShawFL commented on #47
Ok

[2019-12-02 00:29] sahabaishakhi commented on #59
Current implementation - the text box should update value typed into it upon pressing the button but it only does so when the page is hot-reloaded i.e if the content of the cljs file is changed and saved, which leads to the value written getting rendered. This is despite of writing the clojurescript code equivalent to a js example..
Optimization- I want the text box to update the dom upon pressing

[2019-12-03 23:50] azureus89 commented on #59
@sahabaishakhi well you need to close soon either way ...
and because this is taking too long, im going to give you a tip
you need to figure out why you keep doing this, but you are going down the rabbit hole
we are abstracting over react - why are you diving into that layer (react),
before you've made sure the problem isn't in the wrapper (reagent)

https://purelyfunctional.tv/guide/reagent/

[2019-12-04 00:51] sahabaishakhi commented on #59
@azureus89 I have faced this issue before wherein I am unable to type anything inside the input box like the example in the link above.

[2019-12-04 02:09] sahabaishakhi commented on #59
implementing form-2 component leads me to obtain the error `No protocol method ISwap.-swap! defined for type cljs.core/PersistentArrayMap: {:type "echo", :data ""}` wherein this array map is a state atom defined outside of the component function.. my approach now is to define the state locally and manipulate it like how it's demonstrated in form 2 component. I will tackle the data structure if thi

[2019-12-04 02:23] sahabaishakhi commented on #59
I know where the code could be going wrong.. form-2 component has specified to use local state whereas I am manipulating the global state.. but the issue is that I am using the state to 'send' across the channel and also update the dom.. how do I target a local state if I also have to send a message via the websocket?

[2019-12-04 04:49] azureus89 commented on #59
you are mixing two issues ... first implement the component and sufficiently satisfy yourself that it is behaving as it should. Otherwise you will be stuck trying to solve things you dont understand, at the same time.

[2019-12-04 05:05] VikramShawFL commented on #47
**Context** Getting the same CORS error
**Issue** Have added the cljs-ajax code in micro project login.cljs
![image](https://user-images.githubusercontent.com/46559614/70114001-e7467200-1680-11ea-905c-2c05e542d28b.png)
Ring-Cors code in Auth project core.clj
![image](https://user-images.githubusercontent.com/46559614/70114031-0218e680-1681-11ea-94aa-e8e67cb9ff8b.png)
**Logs** The error which I'm g

[2019-12-04 08:30] azureus89 commented on #47
handler is wrapping app-routes correctly
but in your main function you are calling app

app is not wrapping app-routes with wrap-cors
in the def app thread put handler instead of app-routes

so A = routes + cors wrapper
B = routes + other wrappers

it is not object oriented, its functional ... meaning just because you did handler = routes + cors wrapper, doesn't mean "wrapper is applied to routes"

[2019-12-04 09:36] VikramShawFL commented on #47
I tried that but it's giving me the same error. I also tried
![image](https://user-images.githubusercontent.com/46559614/70130918-75cdea00-16a7-11ea-96f0-0bbc355c6fe5.png)
but then also it is giving the same error

[2019-12-06 06:36] VikramShawFL commented on #47
**Context** Getting ``POST http://localhost:4000/create-auth-token 401 (Unauthorized)``
**Issue** Even after modifying the code and getting the response header content-type as ``application/json``, I'm getting the above header
**Logs** Codes in core.clj(Auth project)
![image](https://user-images.githubusercontent.com/46559614/70301114-7ab5a980-181f-11ea-89c8-80d1a517cfb0.png)
Login.cljs micro proj

[2019-12-06 09:42] azureus89 commented on #47
in your cljs ---
not response-format ... request needs header for content-type!
look at curl, do the same thing, look at curl documentation and see what the flags mean and replicate it here in the appropriate parameter

also create-auth-token is not sign up, its sign in ... why are you passing user roles etc

where is the confusion?

[2019-12-06 13:40] VikramShawFL commented on #47
Yes, the error was because of the content type. I was getting confused between response- format and format for content-type. Added to that after sometime by seeing the error I thought that may be because auth project is separate project from micro so I need to write a function to get the value of :username from auth project. But I was wrong it was due to content-type.

[2019-12-06 13:41] VikramShawFL commented on #47
Now after adding the content-type as ``:format :json`` it is creating the token without giving an error.

[2019-12-07 05:57] VikramShawFL commented on #47
Creating documentation for the CORS apart from this anything else I need to do in this issue.

[2019-12-07 10:47] azureus89 commented on #47
Yes .. sign up, create new user

[2019-12-09 12:07] sahabaishakhi commented on #59
@azureus89 the current implementation using `go-loop` and `recur` has the dom updating constantly.. which may hinder the understanding of websockets implementation.
how I have tested the current implementation is by
-> removing `recur` from the `do` block
-> writing a message in the text box
-> adding recur back into the `do` block
-> saving the file that leads to hot reloading and then,
-> quickl

[2019-12-09 12:51] azureus89 commented on #59
yes, as I said before, this go-loop and message injecting implemention will not workout.
Take the approach that you saw taken before : use async channels.

[2019-12-10 20:09] VikramShawFL commented on #47
**Context** Need help, in sending the form data to the database.
**Issue** How to send the form datas to the database after clicking on send button?

[2019-12-10 20:16] azureus89 commented on #47
what form data, what database?

[2019-12-10 20:22] VikramShawFL commented on #47
By form data I'm in login page I have email, username, password and submit button. So for signup
function it should be like after clicking on submit button it should send the datas of all the above form to the auth project database right. That's the problem, I'm not able to figure out how to do that.

[2019-12-10 20:23] azureus89 commented on #47
how is it different from sign in?

[2019-12-10 20:24] azureus89 commented on #47
is sign in implementation done?

[2019-12-17 20:23] VikramShawFL commented on #47
**Context** The token is being generated from the login form and also added the logout function but after login I'm getting error which is related to **unsigning the token**. I did all this using clojure, once the error is solved will convert to clojurescript.
**Issue** The error is ``No implementation of method: :-to-bytes of protocol: #'buddy.core.codecs/IByteArray found for class: org.bouncycas

[2019-12-17 21:03] azureus89 commented on #47
Raise an issue about unsigning ... this is nor relevant to current issue, please check issue description:
[code]

**Clearly stated above : no need for sign out yet**
1. Implement Log In in clojurescript example FIRST
2. Work on sign up flow in stamp project and close this open issue https://github.com/224-1/stamp/issues/3
3. Implement Sign Up flow in clojurescript example

[2019-12-26 22:09] azureus89 commented on #59
@sahabaishakhi clearly this is about the cljs implementation .. how did you get the impression this is for the handler / clj

[2019-12-27 22:54] sahabaishakhi commented on #59
@azureus89 context is that I am trying to use async channel on the client side. the receiving of the message from the server happens via `:source`, which is already a core async channel to read from that contains the message returned. `:source` is one of the keys of the promise channel returned from the following code `(ws/connect websocket-url {:format fmt/json})`. now I tried to pass message fro

[2019-12-28 10:17] azureus89 commented on #59
Can you tell me this in two lines

[2019-12-28 12:41] sahabaishakhi commented on #59
`:source` is a core async channel to be read from that is already in use, when we pass the websocket url to the `connect` function of haslett. how do I use another core async channel on top of it on the client side?

[2019-12-28 13:55] azureus89 commented on #59
Check my PR on your branch

[2020-01-09 17:53] #59 closed, assigned to sahabaishakhi

[2020-01-09 17:56] azureus89 opened #66 "Re-implement message sending buffer in cljs example"
Current message sending buffer is just an atom that keeps getting rewritten whenever a new message has to be sent. This is dangerous because it means that if a new message needs to be sent before the old message has been pushed into the channel, or if there is anything wrong with the websocket .. then you will lose the old message.

In general this is a very bad impertive style implementation .. w